<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>BoltCDL | FMCSA Credentials</title>

    <link rel="shortcut icon" href="../../static/images/thumb.png">
    <link rel="stylesheet" href="/users/students/fmcsa-getCredentials.css">
</head>
<body>

    <div class="fmcsa-text">FMCSA</div>

    <section class="main-box">

        <%
            function checkIfLocationsPassed(locations) {
                if (!locations) { return false }
                return locations.length > 0
            }
        %>

        <% if(checkIfLocationsPassed(locals.locations)) { %>
            <h1 class="main-title"><span class="title-type"><%= locals.credentials? "renew" : "enter"%></span>your FMCSA's credentials</h1>
            <h2 class="subtitle">To be able to feed the students' data to FMCSA via BoltCDL, you should provide us with your credentials first. To connect you with FMCSA we need your PRIVATE KEY, TPR id, and location ids.</h2>
            <% if(locals.FMCSA) { %>
                <h3 class="subtitle">LAST UPDATE<strong><%= new Date(FMCSA.updatedAt).toLocaleDateString('en-CA', { timeZone: locals.SCHOOL_DATA.tZONE }) %></strong></h3>
            <% } %>
            <form class="credentials-form" action="/admin/student/fmcsa/credentials" method="POST">
                <!-- PRIVATE KEY -->
                <div class="item-box -cert-item">
                    <div class="label-box">
                        <label for="pemCertificate">PRIVATE KEY</label>
                        <small>* FMCSA provided you with a unique key, stored in a certificate file (*.pem or *.pfx) after you registered your TRP account. Copy and paste it here</small>
                    </div>
                    <% 
                        const oldCert = locals.FMCSA ? FMCSA.pemCertificate : ""
                        const certPlaceholder = "Can be found in your *.pem file\n-----BEGIN PRIVATE KEY-----\n-----END PRIVATE KEY-----"
                        const startClass = locals.FMCSA ? "-inactive" : "-active"
                    %>
                    <textarea class="<%= startClass %>" name="pemCertificate" id="pemCertificate" placeholder="<%= certPlaceholder %>" data-old="<%= oldCert %>" required><%= oldCert %></textarea>
                </div>
                <!-- TPR ID -->
                <div class="item-box">
                    <label for="idTPR">Training Provider Registry (TPR) id</label>
                    <% 
                        const oldTPR = locals.FMCSA ? FMCSA.idTPR : ""
                        const placeholder = "00000000-0000-0000-0000-000000000000"
                    %>
                    <input class="<%= startClass %>" type="text" name="idTPR" id="idTPR" placeholder="<%= placeholder %>" data-old="<%= oldTPR %>" value="<%= oldTPR %>" required />
                </div>
                <!-- LOCATIONS -->
                <% locations.forEach(location => { %>
                    <div class="item-box">
                        <label for="<%= location %>">id# for "<strong><%= location %></strong>" location</label>
                        <% 
                            const idItem =  locals.FMCSA ? FMCSA.idLocations.filter(loc => loc.title === location) : undefined
                            const oldID = idItem ? idItem[0] ? idItem[0].id : "" : ""
                        %>
                        <input class="<%= startClass %>" type="text" name="idLocations" id="<%= location %>" placeholder="<%= placeholder %>" data-old="<%= oldID %>" value="<%= oldID %>" required />
                        <input type="hidden" name="idTitles" value="<%= location %>">
                    </div>
                <% }) %>
                <!-- BUTTONS -->
                <div class="button-box">
                    <button class="btn -submit <%= startClass %>" type="submit">Submit</button>
                    <button class="btn" type="reset">Reset</button>
                </div>
            </form>
        <% } else { %>
            <h3 class="error">Cannot be performed. We have no information about your School locations. Refer to the BoltCDL dev team, please.</h3>
        <% } %>

        <div class="item-box">
            <button class="btn -cancel" onclick="window.history.back()">Cancel</button>
            <!-- External link to FMCSA -->
            <a href="http://tpr.fmcsa.dot.gov/provider" target="_blank" rel="external">FMCSA: CDL Training Providers</a>
        </div>

    </section>


    <script defer>
        // submit button
        const btnSubmit = document.querySelector(".-submit")


        document.querySelector("textarea").addEventListener("input", (e) => {
            function test(s) {
                return s ? !(s.includes("-----BEGIN PRIVATE KEY-----") && s.includes("-----END PRIVATE KEY-----")) : false
            }
            const textarea = e.target
            textarea.classList.toggle("-issue", test(textarea.value))
            textarea.classList.toggle("-inactive", textarea.value === textarea.dataset.old)
            btnSubmit.classList.toggle("-inactive", textarea.value === textarea.dataset.old)
        })


        document.querySelectorAll("input").forEach(input => {
            input.addEventListener("input", (e) => {
                function test(s) {
                    if (!s) { return false }
                    const arr = s.split("-")
                    if (arr.length != 5) { return true }
                    // parts
                    if (arr[0].length != 8) { return true }
                    if (arr[1].length != 4) { return true }
                    if (arr[2].length != 4) { return true }
                    if (arr[3].length != 4) { return true }
                    if (arr[4].length != 12) { return true }
                    return false
                }
                const input = e.target
                input.classList.toggle("-issue", test(input.value))
                input.classList.toggle("-inactive", input.value === input.dataset.old)
                btnSubmit.classList.toggle("-inactive", input.value === input.dataset.old)
            })
        })


        document.querySelector(".credentials-form").addEventListener("submit", (e) => {
            if (btnSubmit) {
                if (btnSubmit.classList.contains("-inactive")) {
                    return e.preventDefault()
                }
            }
            if (!confirm("Would you like to save entered FMCSA's credentials?")) {
                return e.preventDefault()
            }
        })

    </script>

</body>
</html>