<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoltCDL | Skills Test</title>

    <link rel="shortcut icon" href="../../static/images/thumb.png">
    <link rel="stylesheet" href="/users/students/skills-test.css">
</head>
<body>
    
    <!-- TOOLS -->
    <% 
        const usNumberFormat = new Intl.NumberFormat('us-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 })
        
        function formatDate(textDate) { return textDate ? new Date(textDate).toLocaleDateString('en-CA', { timeZone: locals.SCHOOL_DATA.tZONE }) : '-' }

        function getHistory(student) {
            let history = 'Scheduled Tests'
            student.skillsTest.forEach((record, index) => {
                history += `\n#${index + 1} ${formatDate(record.scheduledDate)} - ${record.testType} - ${record.testLocation}`
            })
            return history
        }
    %>


    
    <header>
        <!-- HOME element -->
        <a href="/admin/profile" class="header-left-item">
            <img src="/static/images/logo-small.png" alt="BOLT logo small" class="bolt-home">
            <span class="item-home">Home</span>
        </a>      <!-- header-left-item -->
        <!-- CENTER element -->
        <nav class="header-center-item">
            <div class="nav-left-side">
                <a href="/admin/user-area" class="header-nav-item" title="Users Area">
                    <svg width="25" height="18" viewBox="0 0 25 18">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 4.10959C10.7741 4.10959 9.375 5.33621 9.375 6.84932C9.375 8.36243 10.7741 9.58904 12.5 9.58904C14.2259 9.58904 15.625 8.36243 15.625 6.84932C15.625 5.33621 14.2259 4.10959 12.5 4.10959ZM7.8125 6.84932C7.8125 4.57965 9.91117 2.73973 12.5 2.73973C15.0888 2.73973 17.1875 4.57965 17.1875 6.84932C17.1875 9.11898 15.0888 10.9589 12.5 10.9589C9.91117 10.9589 7.8125 9.11898 7.8125 6.84932Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.08058 13.2487C9.25269 12.2211 10.8424 11.6438 12.5 11.6438C14.1576 11.6438 15.7473 12.2211 16.9194 13.2487C18.0915 14.2763 18.75 15.67 18.75 17.1233C18.75 17.5016 18.4002 17.8082 17.9688 17.8082H7.03125C6.82405 17.8082 6.62534 17.7361 6.47882 17.6076C6.33231 17.4792 6.25 17.3049 6.25 17.1233C6.25 15.67 6.90848 14.2763 8.08058 13.2487ZM12.5 13.0137C11.2568 13.0137 10.0645 13.4467 9.18544 14.2174C8.49271 14.8247 8.03919 15.6025 7.87804 16.4384H17.122C16.9608 15.6025 16.5073 14.8247 15.8146 14.2174C14.9355 13.4467 13.7432 13.0137 12.5 13.0137Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.8443 0.354968C17.5743 0.0701711 18.3752 -0.0463026 19.171 0.0166068C19.9668 0.0795162 20.731 0.31972 21.3911 0.71441C22.0512 1.1091 22.5853 1.64517 22.9426 2.27173C23.3 2.89828 23.4687 3.59451 23.4328 4.29431C23.3968 4.99411 23.1575 5.67424 22.7374 6.27013C22.3174 6.86602 21.7305 7.35787 21.0326 7.69899C20.3348 8.04012 19.549 8.21918 18.75 8.21918C18.3185 8.21918 17.9688 7.91253 17.9688 7.53425C17.9688 7.15597 18.3185 6.84932 18.75 6.84932C19.2827 6.84932 19.8065 6.72994 20.2718 6.50253C20.737 6.27511 21.1282 5.94721 21.4083 5.54995C21.6883 5.15269 21.8479 4.69927 21.8718 4.23274C21.8958 3.7662 21.7833 3.30205 21.5451 2.88435C21.3069 2.46665 20.9508 2.10926 20.5107 1.84614C20.0707 1.58301 19.5612 1.42287 19.0306 1.38093C18.5001 1.339 17.9662 1.41664 17.4795 1.60651C16.9928 1.79637 16.5696 2.09215 16.25 2.46575C15.9911 2.76838 15.5014 2.82971 15.1562 2.60274C14.8111 2.37577 14.7411 1.94646 15 1.64384C15.4794 1.08343 16.1143 0.639765 16.8443 0.354968Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.9688 9.58904C17.9688 9.21077 18.3185 8.90411 18.75 8.90411C20.4076 8.90411 21.9973 9.48141 23.1694 10.509C24.3415 11.5366 25 12.9303 25 14.3836C25 14.7618 24.6502 15.0685 24.2188 15.0685H19.5312C19.0998 15.0685 18.75 14.7618 18.75 14.3836C18.75 14.0053 19.0998 13.6986 19.5312 13.6986H23.372C23.2108 12.8628 22.7573 12.085 22.0646 11.4776C21.1855 10.7069 19.9932 10.274 18.75 10.274C18.3185 10.274 17.9688 9.96732 17.9688 9.58904Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.82904 0.0166068C6.62482 -0.0463026 7.42574 0.0701711 8.15574 0.354968C8.88574 0.639765 9.52059 1.08343 10 1.64384C10.2589 1.94646 10.1889 2.37577 9.84375 2.60274C9.49857 2.82971 9.00888 2.76838 8.75 2.46575C8.43039 2.09215 8.00716 1.79637 7.5205 1.60651C7.03383 1.41664 6.49988 1.339 5.96936 1.38093C5.43883 1.42287 4.92934 1.58301 4.48927 1.84614C4.04919 2.10926 3.69314 2.46665 3.45491 2.88435C3.21669 3.30205 3.10422 3.7662 3.12816 4.23274C3.1521 4.69927 3.31167 5.15269 3.59172 5.54995C3.87176 5.94721 4.26298 6.27511 4.72824 6.50253C5.19349 6.72994 5.71732 6.84932 6.25 6.84932C6.68147 6.84932 7.03125 7.15597 7.03125 7.53425C7.03125 7.91253 6.68147 8.21918 6.25 8.21918C5.45098 8.21918 4.66523 8.04012 3.96735 7.69899C3.26948 7.35787 2.68264 6.86602 2.26257 6.27013C1.84251 5.67424 1.60315 4.99411 1.56724 4.29431C1.53132 3.59451 1.70004 2.89828 2.05737 2.27173C2.4147 1.64517 2.94878 1.1091 3.6089 0.71441C4.26901 0.31972 5.03325 0.0795162 5.82904 0.0166068Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.83058 10.509C3.00268 9.48141 4.5924 8.90411 6.25 8.90411C6.68147 8.90411 7.03125 9.21077 7.03125 9.58904C7.03125 9.96732 6.68147 10.274 6.25 10.274C5.0068 10.274 3.81451 10.7069 2.93544 11.4776C2.24271 12.085 1.78919 12.8628 1.62804 13.6986H5.46875C5.90022 13.6986 6.25 14.0053 6.25 14.3836C6.25 14.7618 5.90022 15.0685 5.46875 15.0685H0.78125C0.57405 15.0685 0.375336 14.9963 0.228823 14.8679C0.08231 14.7394 0 14.5652 0 14.3836C0 12.9303 0.65848 11.5366 1.83058 10.509Z" />
                    </svg>
                    <span>Users Area</span>
                </a>
                <a href="/admin/student/list" class="header-nav-item" title="Student List">
                    <svg width="25" height="20" viewBox="0 0 25 20">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.1324 0.0928793C12.3621 -0.0309597 12.6379 -0.0309597 12.8676 0.0928793L24.5864 6.40867C24.841 6.54587 25 6.8137 25 7.10526C25 7.39682 24.841 7.66465 24.5864 7.80186L12.8676 14.1176C12.6379 14.2415 12.3621 14.2415 12.1324 14.1176L0.413603 7.80186C0.159022 7.66465 0 7.39682 0 7.10526C0 6.8137 0.159022 6.54587 0.413603 6.40867L12.1324 0.0928793ZM2.44141 7.10526L12.5 12.5263L22.5586 7.10526L12.5 1.68421L2.44141 7.10526Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.46875 8.8421C5.90022 8.8421 6.25 9.19556 6.25 9.63158V15C6.25 15.1967 6.34252 15.4921 6.6304 15.8592C6.91325 16.22 7.34774 16.6002 7.92148 16.948C9.0682 17.6433 10.6868 18.1579 12.5 18.1579C14.3132 18.1579 15.9318 17.6433 17.0785 16.948C17.6523 16.6002 18.0867 16.22 18.3696 15.8592C18.6575 15.4921 18.75 15.1967 18.75 15V9.63158C18.75 9.19556 19.0998 8.8421 19.5312 8.8421C19.9627 8.8421 20.3125 9.19556 20.3125 9.63158V15C20.3125 15.6717 20.0144 16.304 19.5943 16.8398C19.1691 17.382 18.5782 17.8801 17.8824 18.302C16.4901 19.1462 14.5931 19.7368 12.5 19.7368C10.4069 19.7368 8.50992 19.1462 7.11758 18.302C6.42179 17.8801 5.83089 17.382 5.40573 16.8398C4.9856 16.304 4.6875 15.6717 4.6875 15V9.63158C4.6875 9.19556 5.03728 8.8421 5.46875 8.8421Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M24.2188 6.31579C24.6502 6.31579 25 6.66925 25 7.10526V17.3684C25 17.8044 24.6502 18.1579 24.2188 18.1579C23.7873 18.1579 23.4375 17.8044 23.4375 17.3684V7.10526C23.4375 6.66925 23.7873 6.31579 24.2188 6.31579Z" />
                    </svg>
                    <span>Student List</span>
                </a>
                <a href="/admin/student" class="header-nav-item" id="reload-ins" title="INs">
                    <svg width="20" height="20" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.8286 11.6624C15.094 11.3705 15.5457 11.349 15.8376 11.6143L19.7662 15.1858C19.9151 15.3211 20 15.513 20 15.7143C20 15.9155 19.9151 16.1074 19.7662 16.2428L15.8376 19.8142C15.5457 20.0796 15.094 20.0581 14.8286 19.7662C14.5633 19.4743 14.5848 19.0225 14.8767 18.7572L18.2239 15.7143L14.8767 12.6714C14.5848 12.406 14.5633 11.9543 14.8286 11.6624Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 15.7143C0 15.3198 0.319797 15 0.714286 15H19.2857C19.6802 15 20 15.3198 20 15.7143C20 16.1088 19.6802 16.4286 19.2857 16.4286H0.714286C0.319797 16.4286 0 16.1088 0 15.7143Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.17139 0.23381C5.43675 0.525708 5.41524 0.977457 5.12334 1.24282L1.77615 4.28572L5.12334 7.32862C5.41524 7.59398 5.43675 8.04573 5.17139 8.33762C4.90602 8.62952 4.45428 8.65103 4.16238 8.38567L0.233805 4.81425C0.0848949 4.67887 0 4.48696 0 4.28572C0 4.08447 0.0848949 3.89256 0.233805 3.75719L4.16238 0.185762C4.45428 -0.0795999 4.90602 -0.0580881 5.17139 0.23381Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.28572C0 3.89123 0.319797 3.57143 0.714286 3.57143H19.2857C19.6802 3.57143 20 3.89123 20 4.28572C20 4.68021 19.6802 5 19.2857 5H0.714286C0.319797 5 0 4.68021 0 4.28572Z" />
                    </svg>
                    <span>INs</span>
                </a>
            </div>
            <div class="nav-right-side">
                <div class="nickname-search-box">
                    <input type="search" class="nickname-search" placeholder="Student..." oninput="filterColumn(this, '.schema-col-name')">
                    <svg width="20" height="20" viewBox="0 0 20 20" onclick="toggleSearch()">
                        <path d="M19.5119 17.1552L15.281 12.9243C16.1552 11.6068 16.6668 10.0293 16.6668 8.33342C16.6668 3.73837 12.9285 0 8.33342 0C3.73837 0 0 3.73837 0 8.33342C0 12.9285 3.73837 16.6668 8.33342 16.6668C10.0293 16.6668 11.6068 16.1552 12.9243 15.281L17.1552 19.5119C17.8052 20.1627 18.8619 20.1627 19.5119 19.5119C20.1627 18.861 20.1627 17.806 19.5119 17.1552ZM2.50003 8.33342C2.50003 5.11672 5.11672 2.50003 8.33342 2.50003C11.5501 2.50003 14.1668 5.11672 14.1668 8.33342C14.1668 11.5501 11.5501 14.1668 8.33342 14.1668C5.11672 14.1668 2.50003 11.5501 2.50003 8.33342Z" />
                    </svg>
                </div>
                <% if(locals.user) { %>
                    <span class="admin-name"><%= user.name %></span>
                    <span class="admin-separator">|</span>
                    <span class="admin-email"><%= user.location %></span>
                <% } %>
            </div>
        </nav>      <!-- header-center-item -->
        <!-- SIGN OUT element -->
        <form class="header-right-item" action="/admin/logout" method="POST">
            <button type="submit">
                <svg width="25" height="21" viewBox="0 0 25 21">
                    <path d="M10.2041 18.8964C10.2041 18.939 10.2094 19.0454 10.22 19.2156C10.2307 19.3859 10.2333 19.5268 10.228 19.6386C10.2227 19.7503 10.2067 19.8753 10.1802 20.0136C10.1536 20.1519 10.1004 20.2557 10.0207 20.3248C9.94101 20.394 9.83206 20.4286 9.69388 20.4286H4.59184C3.32696 20.4286 2.24543 19.979 1.34726 19.08C0.449086 18.1809 0 17.0983 0 15.8321V4.59643C0 3.33028 0.449086 2.24767 1.34726 1.3486C2.24543 0.449535 3.32696 0 4.59184 0H9.69388C9.83206 0 9.95164 0.0505394 10.0526 0.151618C10.1536 0.252697 10.2041 0.372396 10.2041 0.510714C10.2041 0.553274 10.2094 0.659673 10.22 0.829911C10.2307 1.00015 10.2333 1.14113 10.228 1.25285C10.2227 1.36456 10.2067 1.48958 10.1802 1.6279C10.1536 1.76622 10.1004 1.86996 10.0207 1.93912C9.94101 2.00828 9.83206 2.04286 9.69388 2.04286H4.59184C3.89031 2.04286 3.28975 2.29289 2.79018 2.79297C2.2906 3.29304 2.04082 3.8942 2.04082 4.59643V15.8321C2.04082 16.5344 2.2906 17.1355 2.79018 17.6356C3.28975 18.1357 3.89031 18.3857 4.59184 18.3857H9.56633L9.74968 18.4017L9.93304 18.4496L10.0606 18.5373L10.1722 18.681L10.2041 18.8964ZM25 10.2143C25 10.4909 24.899 10.7303 24.6971 10.9325L16.0236 19.6146C15.8216 19.8168 15.5825 19.9179 15.3061 19.9179C15.0298 19.9179 14.7906 19.8168 14.5886 19.6146C14.3867 19.4125 14.2857 19.1731 14.2857 18.8964V14.3H7.14286C6.8665 14.3 6.62734 14.1989 6.42538 13.9968C6.22343 13.7946 6.12245 13.5552 6.12245 13.2786V7.15C6.12245 6.87336 6.22343 6.63397 6.42538 6.43181C6.62734 6.22965 6.8665 6.12857 7.14286 6.12857H14.2857V1.53214C14.2857 1.25551 14.3867 1.01611 14.5886 0.813951C14.7906 0.611793 15.0298 0.510714 15.3061 0.510714C15.5825 0.510714 15.8216 0.611793 16.0236 0.813951L24.6971 9.49609C24.899 9.69825 25 9.93765 25 10.2143Z" />
                </svg>
            </button>
        </form>     <!-- header-right-item -->
    </header>


    <div class="dummy"></div>

    <!-- sub-header -->
    <menu type="toolbar" class="sub-header">
        <div class="sub-header-left">
            <h2 class="sub-header-title">Skills<span>Test</span></h2>
            <section class="stars">
                <div class="stars-item">
                    <svg width="16" height="16" viewBox="0 0 16 16" class="-passed-and-certificate">
                        <path d="M12.57 16C12.4716 16.0004 12.3745 15.9754 12.2875 15.9273L8.00003 13.5657L3.71175 15.9273C3.61181 15.9821 3.49925 16.0065 3.38677 15.9978C3.27428 15.9892 3.16634 15.9477 3.07512 15.8783C2.9839 15.8088 2.91303 15.714 2.8705 15.6046C2.82797 15.4952 2.81547 15.3755 2.83441 15.259L3.65364 10.2576L0.18299 6.7154C0.102053 6.63284 0.0447919 6.5282 0.0176835 6.41332C-0.00942487 6.29844 -0.00529819 6.1779 0.0295967 6.06535C0.0644917 5.9528 0.128762 5.85272 0.215137 5.77644C0.301512 5.70016 0.406544 5.65072 0.518352 5.63371L5.3131 4.90413L7.45723 0.353352C7.50723 0.247282 7.58456 0.157979 7.68048 0.0955353C7.7764 0.0330921 7.88709 0 8.00003 0C8.11296 0 8.22365 0.0330921 8.31957 0.0955353C8.41549 0.157979 8.49282 0.247282 8.54282 0.353352L10.687 4.90413L15.4813 5.63371C15.5931 5.65066 15.6982 5.70005 15.7846 5.7763C15.8711 5.85256 15.9354 5.95263 15.9703 6.06519C16.0053 6.17775 16.0094 6.29831 15.9824 6.41322C15.9553 6.52813 15.898 6.63281 15.8171 6.7154L12.3464 10.2576L13.1656 15.259C13.1805 15.35 13.1762 15.4433 13.1531 15.5323C13.13 15.6214 13.0886 15.7041 13.0318 15.7746C12.975 15.8452 12.9042 15.9019 12.8243 15.9409C12.7443 15.9798 12.6581 16 12.57 16Z" />
                    </svg>
                    <span>Passed & Certified</span>
                </div>
                <div class="stars-item">
                    <svg viewBox="0 0 576 512" class="-passed-no-certificate">
                        <path d="M463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7zM288 376.4L288.1 376.3L399.7 435.9L378.4 309.6L469.2 219.8L343.8 201.4L288.1 86.85L288 87.14V376.4z" />
                    </svg>
                    <span>Passed without certificate</span>
                </div>
                <div class="stars-item">
                    <svg width="16" height="16" viewBox="0 0 16 16" class="-failed-no-certificate">
                        <path d="M12.57 16C12.4716 16.0004 12.3745 15.9754 12.2875 15.9273L8.00003 13.5657L3.71175 15.9273C3.61181 15.9821 3.49925 16.0065 3.38677 15.9978C3.27428 15.9892 3.16634 15.9477 3.07512 15.8783C2.9839 15.8088 2.91303 15.714 2.8705 15.6046C2.82797 15.4952 2.81547 15.3755 2.83441 15.259L3.65364 10.2576L0.18299 6.7154C0.102053 6.63284 0.0447919 6.5282 0.0176835 6.41332C-0.00942486 6.29844 -0.00529819 6.1779 0.0295967 6.06535C0.0644917 5.9528 0.128762 5.85272 0.215137 5.77644C0.301512 5.70016 0.406545 5.65072 0.518352 5.63371L5.3131 4.90413L7.45723 0.353352C7.50723 0.247282 7.58456 0.157979 7.68048 0.0955353C7.7764 0.0330921 7.88709 0 8.00003 0C8.11296 0 8.22365 0.0330921 8.31957 0.0955353C8.41549 0.157979 8.49282 0.247282 8.54282 0.353352L10.687 4.90413L15.4813 5.63371C15.5931 5.65066 15.6982 5.70005 15.7846 5.7763C15.8711 5.85256 15.9354 5.95263 15.9703 6.06519C16.0053 6.17775 16.0094 6.29831 15.9824 6.41322C15.9553 6.52813 15.898 6.63281 15.8171 6.7154L12.3464 10.2576L13.1656 15.259C13.1805 15.35 13.1762 15.4433 13.1531 15.5323C13.13 15.6214 13.0886 15.7041 13.0318 15.7746C12.975 15.8452 12.9042 15.9019 12.8243 15.9409C12.7443 15.9798 12.6573 16 12.5692 16H12.57ZM1.90621 6.70399L4.7251 9.58215C4.7952 9.65372 4.84768 9.74203 4.87804 9.8395C4.90841 9.93697 4.91575 10.0407 4.89944 10.1418L4.23397 14.2056L7.71753 12.2883C7.80461 12.2401 7.90157 12.215 8.00003 12.215C8.09848 12.215 8.19545 12.2401 8.28252 12.2883L11.7669 14.2069L11.1006 10.1418C11.084 10.0405 11.0912 9.93658 11.1215 9.83887C11.1518 9.74116 11.2043 9.65262 11.2745 9.58088L14.0938 6.70399L10.1982 6.11221C10.1012 6.09742 10.009 6.05815 9.92961 5.99777C9.85024 5.93739 9.78607 5.85771 9.74262 5.7656L8.00003 2.06824L6.25784 5.7656C6.21435 5.85777 6.15012 5.93748 6.07067 5.99786C5.99123 6.05825 5.89896 6.09749 5.80181 6.11221L1.90621 6.70399Z" fill="#CBCBCB"/>
                    </svg>
                    <span>Failed, not certified</span>
                </div>
            </section>      <!-- stars -->
        </div>      <!-- sub-header-left -->
        <div class="sub-header-right">
            <div class="min-requirements">
                <h2>Min TTT hours</h2>
                <input class="-admin-menu-btn" type="number" step="1" min="1" value="<%= minTTT ? Math.round(minTTT) : 1 %>" oninput="updateRefresh(this)">
                <a class="-admin-menu-btn" id="refresh-skills" href="/admin/student/skills-test?TTT=<%= minTTT ? Math.round(minTTT) : 1 %>">Show</a>
            </div>
            <div class="cart-toolbar -admin-menu-btn" onclick="showSkillsTestModal()">
                <span class="scheduled-qty" id="scheduled-qty" data-value="0">0</span>
                <svg width="19" height="20" viewBox="0 0 19 20" fill="none">
                    <path d="M16.5939 13.3333H6.64329C6.47818 13.3336 6.31789 13.2763 6.18874 13.1708C6.0596 13.0653 5.96929 12.9178 5.93263 12.7527L4.25714 5.26617C4.23263 5.15681 4.23248 5.04319 4.25671 4.93376C4.28094 4.82433 4.32891 4.72192 4.39707 4.63413C4.46522 4.54635 4.5518 4.47546 4.65036 4.42674C4.74892 4.37802 4.85693 4.35273 4.96634 4.35274H18.2709C18.3804 4.3525 18.4886 4.37763 18.5873 4.42626C18.686 4.47488 18.7728 4.54574 18.8411 4.63355C18.9094 4.72136 18.9576 4.82386 18.9819 4.93339C19.0062 5.04293 19.006 5.15669 18.9815 5.26617L17.3031 12.7527C17.2665 12.9176 17.1764 13.0648 17.0476 13.1703C16.9187 13.2758 16.7588 13.3333 16.5939 13.3333ZM7.22248 11.8408H16.0147L17.357 5.84677H5.87976L7.22248 11.8408Z" fill="#AAAAAA"/>
                    <path d="M8.06702 20C7.51555 20 6.97646 19.8323 6.51793 19.5181C6.0594 19.2038 5.70202 18.7572 5.49098 18.2347C5.27994 17.7121 5.22472 17.1371 5.33231 16.5824C5.4399 16.0277 5.70545 15.5181 6.0954 15.1182C6.48535 14.7182 6.98218 14.4459 7.52305 14.3355C8.06393 14.2252 8.62456 14.2818 9.13405 14.4983C9.64355 14.7147 10.079 15.0813 10.3854 15.5515C10.6918 16.0218 10.8553 16.5747 10.8553 17.1403C10.8545 17.8985 10.5605 18.6254 10.0378 19.1615C9.51505 19.6977 8.80628 19.9992 8.06702 20ZM8.06702 15.7736C7.80335 15.7736 7.54561 15.8538 7.32638 16.0041C7.10716 16.1543 6.9363 16.3679 6.83542 16.6177C6.73454 16.8676 6.70817 17.1425 6.75965 17.4077C6.81112 17.6729 6.93813 17.9165 7.1246 18.1077C7.31108 18.2989 7.54865 18.4291 7.80726 18.4818C8.06587 18.5344 8.33391 18.5073 8.57748 18.4037C8.82105 18.3002 9.02921 18.1249 9.17562 17.9C9.32204 17.6751 9.40014 17.4107 9.40004 17.1403C9.39966 16.7779 9.25908 16.4304 9.00916 16.1742C8.75923 15.918 8.4204 15.7739 8.06702 15.7736Z" fill="#AAAAAA"/>
                    <path d="M15.1697 20C14.6182 20 14.0791 19.8323 13.6206 19.5181C13.1621 19.2038 12.8047 18.7572 12.5936 18.2347C12.3826 17.7121 12.3274 17.1371 12.435 16.5824C12.5426 16.0277 12.8081 15.5181 13.1981 15.1182C13.588 14.7182 14.0848 14.4459 14.6257 14.3355C15.1666 14.2252 15.7272 14.2818 16.2367 14.4983C16.7462 14.7147 17.1817 15.0813 17.4881 15.5515C17.7944 16.0218 17.958 16.5747 17.958 17.1403C17.9572 17.8985 17.6632 18.6254 17.1405 19.1615C16.6177 19.6977 15.9089 19.9992 15.1697 20ZM15.1697 15.7736C14.906 15.7736 14.6483 15.8538 14.429 16.0041C14.2098 16.1543 14.039 16.3679 13.9381 16.6177C13.8372 16.8676 13.8108 17.1425 13.8623 17.4077C13.9138 17.6729 14.0408 17.9165 14.2273 18.1077C14.4137 18.2989 14.6513 18.4291 14.9099 18.4818C15.1685 18.5344 15.4366 18.5073 15.6801 18.4037C15.9237 18.3002 16.1319 18.1249 16.2783 17.9C16.4247 17.6751 16.5028 17.4107 16.5027 17.1403C16.5023 16.7779 16.3617 16.4304 16.1118 16.1742C15.8619 15.918 15.5231 15.7739 15.1697 15.7736Z" fill="#AAAAAA"/>
                    <path d="M4.96634 5.84527C4.8136 5.84526 4.66474 5.79595 4.54085 5.70434C4.41696 5.61272 4.32432 5.48345 4.27605 5.33483L3.02889 1.49254H0.727632C0.534652 1.49254 0.349576 1.41391 0.213119 1.27396C0.0766611 1.13401 0 0.944191 0 0.746269C0 0.548346 0.0766611 0.35853 0.213119 0.218577C0.349576 0.0786245 0.534652 0 0.727632 0H3.5557C3.70843 1.44937e-05 3.85729 0.049322 3.98118 0.140937C4.10507 0.232551 4.19771 0.361827 4.24598 0.510448L5.65904 4.86318C5.69547 4.97535 5.70539 5.09479 5.68799 5.21166C5.67058 5.32854 5.62636 5.4395 5.55895 5.5354C5.49154 5.63131 5.40288 5.70941 5.30027 5.76329C5.19766 5.81716 5.08404 5.84526 4.96876 5.84527H4.96634Z" fill="#AAAAAA"/>
                </svg>
            </div>  <!-- cart -->    
            <!-- TTT in calendar is just a back-link to comeback to proper view -->
            <a class="-admin-menu-btn" id="skills-calendar-ref" href="/admin/student/skills-calendar?backtoTTT=<%= minTTT ? Math.round(minTTT) : 1 %>" title="Skills Test Calendar">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path d="M16.1538 20H3.84615C2.82609 20 1.84781 19.5948 1.12651 18.8735C0.405219 18.1522 0 17.1739 0 16.1538V5.38462C0 4.36455 0.405219 3.38627 1.12651 2.66497C1.84781 1.94368 2.82609 1.53846 3.84615 1.53846H16.1538C17.1739 1.53846 18.1522 1.94368 18.8735 2.66497C19.5948 3.38627 20 4.36455 20 5.38462V16.1538C20 17.1739 19.5948 18.1522 18.8735 18.8735C18.1522 19.5948 17.1739 20 16.1538 20ZM3.84615 3.07692C3.23412 3.07692 2.64715 3.32005 2.21437 3.75283C1.78159 4.18561 1.53846 4.77258 1.53846 5.38462V16.1538C1.53846 16.7659 1.78159 17.3529 2.21437 17.7856C2.64715 18.2184 3.23412 18.4615 3.84615 18.4615H16.1538C16.7659 18.4615 17.3529 18.2184 17.7856 17.7856C18.2184 17.3529 18.4615 16.7659 18.4615 16.1538V5.38462C18.4615 4.77258 18.2184 4.18561 17.7856 3.75283C17.3529 3.32005 16.7659 3.07692 16.1538 3.07692H3.84615Z" fill="#AAAAAA"/>
                    <path d="M16.1538 16.9231H13.0769C12.8729 16.9231 12.6773 16.842 12.533 16.6978C12.3887 16.5535 12.3077 16.3579 12.3077 16.1538V13.0769C12.3077 12.8729 12.3887 12.6773 12.533 12.533C12.6773 12.3887 12.8729 12.3077 13.0769 12.3077H16.1538C16.3579 12.3077 16.5535 12.3887 16.6978 12.533C16.842 12.6773 16.9231 12.8729 16.9231 13.0769V16.1538C16.9231 16.3579 16.842 16.5535 16.6978 16.6978C16.5535 16.842 16.3579 16.9231 16.1538 16.9231ZM13.8462 15.3846H15.3846V13.8462H13.8462V15.3846Z" fill="#AAAAAA"/>
                    <path d="M19.2308 7.69231H0.769231C0.565218 7.69231 0.369561 7.61126 0.225302 7.46701C0.0810437 7.32275 0 7.12709 0 6.92308C0 6.71906 0.0810437 6.52341 0.225302 6.37915C0.369561 6.23489 0.565218 6.15385 0.769231 6.15385H19.2308C19.4348 6.15385 19.6304 6.23489 19.7747 6.37915C19.919 6.52341 20 6.71906 20 6.92308C20 7.12709 19.919 7.32275 19.7747 7.46701C19.6304 7.61126 19.4348 7.69231 19.2308 7.69231Z" fill="#AAAAAA"/>
                    <path d="M6.15385 4.61538C5.94983 4.61538 5.75418 4.53434 5.60992 4.39008C5.46566 4.24582 5.38462 4.05017 5.38462 3.84615V0.769231C5.38462 0.565218 5.46566 0.369561 5.60992 0.225302C5.75418 0.0810437 5.94983 0 6.15385 0C6.35786 0 6.55352 0.0810437 6.69777 0.225302C6.84203 0.369561 6.92308 0.565218 6.92308 0.769231V3.84615C6.92308 4.05017 6.84203 4.24582 6.69777 4.39008C6.55352 4.53434 6.35786 4.61538 6.15385 4.61538Z" fill="#AAAAAA"/>
                    <path d="M13.8462 4.61538C13.6421 4.61538 13.4465 4.53434 13.3022 4.39008C13.158 4.24582 13.0769 4.05017 13.0769 3.84615V0.769231C13.0769 0.565218 13.158 0.369561 13.3022 0.225302C13.4465 0.0810437 13.6421 0 13.8462 0C14.0502 0 14.2458 0.0810437 14.3901 0.225302C14.5343 0.369561 14.6154 0.565218 14.6154 0.769231V3.84615C14.6154 4.05017 14.5343 4.24582 14.3901 4.39008C14.2458 4.53434 14.0502 4.61538 13.8462 4.61538Z" fill="#AAAAAA"/>
                </svg>
            </a>
        </div>      <!-- sub-header-right -->
    </menu>



    <div class="skills-test-box">

        <div class="report-row -table-headers">
            <span class="cell -lastName -sticky">Last Name</span>
            <span class="cell -firstName -sticky">First Name</span>
            <span class="cell -middleName">Middle Name</span>

            <span class="cell -key">Key</span>
            <span class="cell -TTT">TTT(h)</span>
            <span class="cell -date">Tuition Start</span>
            <span class="cell -location">Location</span>

            <span class="cell -date">Date Of Birth</span>
            <span class="cell -phone">Phone</span>

            <span class="cell -balance">Balance</span>
            <span class="cell -drvLicense">Driver License</span>
            <span class="cell -class">Class</span>
            <span class="cell -transmission">Transmission</span>

            <span class="cell -avLessonsRate">Learning</span>
            <span class="cell -scoringsInCab">IN-CAB Scoring</span>
            <span class="cell -scoringsOutCab">OUT-CAB Scoring</span>
            <span class="cell -scoringsBacking">BACKING Scoring</span>
            <span class="cell -scoringsCity">CITY Scoring</span>
            
            <!-- prev. skills test data -->
            <span class="cell -skills-history">Skills Test History</span>

            <!-- Push to Skills Test Section -->
            <span class="cell -schedule-date-time">Skills Test Date</span>
        </div>

        <% if (students) { %>
            <% students.forEach(student => { %>
                <% if (student.user) { %>
                    <div class="report-row" data-student="<%= student._id %>" data-user="<%= student.user._id %>" data-skillsHistory="<%= student.skillsTest ? student.skillsTest.length : 0 %>">
                        <% let link = `/admin/user/${student.user._id}` %>
                        <a href="<%= link %>" class="cell -lastName -sticky" title="student's profile"><%= student.user.dataCollection ? student.user.dataCollection.lastName : "" %></a>
                        <span class="cell -firstName -sticky"><%= student.user.dataCollection ? student.user.dataCollection.firstName : "" %></span>
                        <span class="cell -middleName"><%= student.user.dataCollection ? student.user.dataCollection.middleName : "" %></span>

                        <span class="cell -key"><%= student.key %></span>
                        <span class="cell -TTT"><%= Math.round(student.TTT) %></span>
                        <span class="cell -date"><%= formatDate(student.created) %></span>
                        <span class="cell -location"><%= student.location %></span>

                        <span class="cell -date -dob"><%= student.user.dataCollection ? formatDate(student.user.dataCollection.DOB) : "" %></span>

                        <% let phone = student.user.dataCollection ? student.user.dataCollection.phone : "" %>
                        <a href="tel:<%= phone %>" class="cell -phone" title="call <%= phone %>"><%= phone %></a>

                        <% 
                            let balance = 0
                            if (student.user.payments) {
                                student.user.payments.forEach(pmt => {
                                    balance += pmt.ammount
                                })
                            }
                            if (student.user.agreement) {
                                balance -= student.user.agreement.tuitionCost || 0
                                balance -= student.user.agreement.regisrFee || 0
                                balance -= student.user.agreement.supplyFee || 0
                                balance -= student.user.agreement.otherFee || 0
                            }
                        %>

                        <a href="<%= link + '?activatetab=3&open=payments' %>" class="cell -balance <%= balance ? '-not-zero-balance' : '-zero-balance' %>" title="check payments"><%= usNumberFormat.format(balance) %></a>

                        <% let license = student.user.application ? student.user.application['vehicle-license'] : "" %>
                        <span class="cell -drvLicense <%= license.length === 12 ? '-good-license' : '-wrong-license' %>"><%= license.toUpperCase() %></span>

                        <span class="cell -class"><%= student.user.agreement ? student.user.agreement.class : "" %></span>
                        <span class="cell -transmission"><%= student.user.agreement ? student.user.agreement.transmission.replace("Transmission", "") : "" %></span>

                        <a href="<%= link + '?activatetab=4&open=tuition' %>" class="cell -avLessonsRate <%= student.tuition.avLessonsRate >= 0.85 ? '-tuition-passed' : '-tuition-failed' %>"><%= student.tuition ? `${ Math.round(student.tuition.avLessonsRate * 1000) / 10}%` : 0 %></a>
                        
                        <% if (student.scoring) { %>
                            <div class="cell -scoringsInCab"><%= student.scoring.scoringsInCab.length %>
                                <% if(student.scoring.scoringsInCab.length) { %>
                                    <div class="scoring-inner">
                                        <% student.scoring.scoringsInCab.forEach(scr => { %>
                                            <span class="scoring-item" title="<%= scr.instructor %> <%= formatDate(scr.created) %>">
                                                <% if (scr.result && scr.certificate) { %>
                                                    <svg width="16" height="16" viewBox="0 0 16 16" class="-passed-and-certificate">
                                                        <path d="M12.57 16C12.4716 16.0004 12.3745 15.9754 12.2875 15.9273L8.00003 13.5657L3.71175 15.9273C3.61181 15.9821 3.49925 16.0065 3.38677 15.9978C3.27428 15.9892 3.16634 15.9477 3.07512 15.8783C2.9839 15.8088 2.91303 15.714 2.8705 15.6046C2.82797 15.4952 2.81547 15.3755 2.83441 15.259L3.65364 10.2576L0.18299 6.7154C0.102053 6.63284 0.0447919 6.5282 0.0176835 6.41332C-0.00942487 6.29844 -0.00529819 6.1779 0.0295967 6.06535C0.0644917 5.9528 0.128762 5.85272 0.215137 5.77644C0.301512 5.70016 0.406544 5.65072 0.518352 5.63371L5.3131 4.90413L7.45723 0.353352C7.50723 0.247282 7.58456 0.157979 7.68048 0.0955353C7.7764 0.0330921 7.88709 0 8.00003 0C8.11296 0 8.22365 0.0330921 8.31957 0.0955353C8.41549 0.157979 8.49282 0.247282 8.54282 0.353352L10.687 4.90413L15.4813 5.63371C15.5931 5.65066 15.6982 5.70005 15.7846 5.7763C15.8711 5.85256 15.9354 5.95263 15.9703 6.06519C16.0053 6.17775 16.0094 6.29831 15.9824 6.41322C15.9553 6.52813 15.898 6.63281 15.8171 6.7154L12.3464 10.2576L13.1656 15.259C13.1805 15.35 13.1762 15.4433 13.1531 15.5323C13.13 15.6214 13.0886 15.7041 13.0318 15.7746C12.975 15.8452 12.9042 15.9019 12.8243 15.9409C12.7443 15.9798 12.6581 16 12.57 16Z" />
                                                    </svg>
                                                <% } else { %>
                                                    <% if (!scr.result && !scr.certificate) { %>
                                                        <svg width="16" height="16" viewBox="0 0 16 16" class="-failed-no-certificate">
                                                            <path d="M12.57 16C12.4716 16.0004 12.3745 15.9754 12.2875 15.9273L8.00003 13.5657L3.71175 15.9273C3.61181 15.9821 3.49925 16.0065 3.38677 15.9978C3.27428 15.9892 3.16634 15.9477 3.07512 15.8783C2.9839 15.8088 2.91303 15.714 2.8705 15.6046C2.82797 15.4952 2.81547 15.3755 2.83441 15.259L3.65364 10.2576L0.18299 6.7154C0.102053 6.63284 0.0447919 6.5282 0.0176835 6.41332C-0.00942486 6.29844 -0.00529819 6.1779 0.0295967 6.06535C0.0644917 5.9528 0.128762 5.85272 0.215137 5.77644C0.301512 5.70016 0.406545 5.65072 0.518352 5.63371L5.3131 4.90413L7.45723 0.353352C7.50723 0.247282 7.58456 0.157979 7.68048 0.0955353C7.7764 0.0330921 7.88709 0 8.00003 0C8.11296 0 8.22365 0.0330921 8.31957 0.0955353C8.41549 0.157979 8.49282 0.247282 8.54282 0.353352L10.687 4.90413L15.4813 5.63371C15.5931 5.65066 15.6982 5.70005 15.7846 5.7763C15.8711 5.85256 15.9354 5.95263 15.9703 6.06519C16.0053 6.17775 16.0094 6.29831 15.9824 6.41322C15.9553 6.52813 15.898 6.63281 15.8171 6.7154L12.3464 10.2576L13.1656 15.259C13.1805 15.35 13.1762 15.4433 13.1531 15.5323C13.13 15.6214 13.0886 15.7041 13.0318 15.7746C12.975 15.8452 12.9042 15.9019 12.8243 15.9409C12.7443 15.9798 12.6573 16 12.5692 16H12.57ZM1.90621 6.70399L4.7251 9.58215C4.7952 9.65372 4.84768 9.74203 4.87804 9.8395C4.90841 9.93697 4.91575 10.0407 4.89944 10.1418L4.23397 14.2056L7.71753 12.2883C7.80461 12.2401 7.90157 12.215 8.00003 12.215C8.09848 12.215 8.19545 12.2401 8.28252 12.2883L11.7669 14.2069L11.1006 10.1418C11.084 10.0405 11.0912 9.93658 11.1215 9.83887C11.1518 9.74116 11.2043 9.65262 11.2745 9.58088L14.0938 6.70399L10.1982 6.11221C10.1012 6.09742 10.009 6.05815 9.92961 5.99777C9.85024 5.93739 9.78607 5.85771 9.74262 5.7656L8.00003 2.06824L6.25784 5.7656C6.21435 5.85777 6.15012 5.93748 6.07067 5.99786C5.99123 6.05825 5.89896 6.09749 5.80181 6.11221L1.90621 6.70399Z" fill="#CBCBCB"/>
                                                        </svg>
                                                    <% } %>
                                                    <% if (scr.result || scr.certificate) { %>
                                                        <svg viewBox="0 0 576 512" class="-passed-no-certificate">
                                                            <path d="M463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7zM288 376.4L288.1 376.3L399.7 435.9L378.4 309.6L469.2 219.8L343.8 201.4L288.1 86.85L288 87.14V376.4z" />
                                                        </svg>
                                                    <% } %>
                                                <% } %>
                                            </span>
                                        <% }) %>
                                    </div>
                                <% } %>
                            </div>
                            <div class="cell -scoringsOutCab"><%= student.scoring.scoringsOutCab.length %>
                                <% if(student.scoring.scoringsOutCab.length) { %>
                                    <div class="scoring-inner">
                                        <% student.scoring.scoringsOutCab.forEach(scr => { %>
                                            <span class="scoring-item" title="<%= scr.instructor %> <%= formatDate(scr.created) %>">
                                                <% if (scr.result && scr.certificate) { %>
                                                    <svg width="16" height="16" viewBox="0 0 16 16" class="-passed-and-certificate">
                                                        <path d="M12.57 16C12.4716 16.0004 12.3745 15.9754 12.2875 15.9273L8.00003 13.5657L3.71175 15.9273C3.61181 15.9821 3.49925 16.0065 3.38677 15.9978C3.27428 15.9892 3.16634 15.9477 3.07512 15.8783C2.9839 15.8088 2.91303 15.714 2.8705 15.6046C2.82797 15.4952 2.81547 15.3755 2.83441 15.259L3.65364 10.2576L0.18299 6.7154C0.102053 6.63284 0.0447919 6.5282 0.0176835 6.41332C-0.00942487 6.29844 -0.00529819 6.1779 0.0295967 6.06535C0.0644917 5.9528 0.128762 5.85272 0.215137 5.77644C0.301512 5.70016 0.406544 5.65072 0.518352 5.63371L5.3131 4.90413L7.45723 0.353352C7.50723 0.247282 7.58456 0.157979 7.68048 0.0955353C7.7764 0.0330921 7.88709 0 8.00003 0C8.11296 0 8.22365 0.0330921 8.31957 0.0955353C8.41549 0.157979 8.49282 0.247282 8.54282 0.353352L10.687 4.90413L15.4813 5.63371C15.5931 5.65066 15.6982 5.70005 15.7846 5.7763C15.8711 5.85256 15.9354 5.95263 15.9703 6.06519C16.0053 6.17775 16.0094 6.29831 15.9824 6.41322C15.9553 6.52813 15.898 6.63281 15.8171 6.7154L12.3464 10.2576L13.1656 15.259C13.1805 15.35 13.1762 15.4433 13.1531 15.5323C13.13 15.6214 13.0886 15.7041 13.0318 15.7746C12.975 15.8452 12.9042 15.9019 12.8243 15.9409C12.7443 15.9798 12.6581 16 12.57 16Z" />
                                                    </svg>
                                                <% } else { %>
                                                    <% if (!scr.result && !scr.certificate) { %>
                                                        <svg width="16" height="16" viewBox="0 0 16 16" class="-failed-no-certificate">
                                                            <path d="M12.57 16C12.4716 16.0004 12.3745 15.9754 12.2875 15.9273L8.00003 13.5657L3.71175 15.9273C3.61181 15.9821 3.49925 16.0065 3.38677 15.9978C3.27428 15.9892 3.16634 15.9477 3.07512 15.8783C2.9839 15.8088 2.91303 15.714 2.8705 15.6046C2.82797 15.4952 2.81547 15.3755 2.83441 15.259L3.65364 10.2576L0.18299 6.7154C0.102053 6.63284 0.0447919 6.5282 0.0176835 6.41332C-0.00942486 6.29844 -0.00529819 6.1779 0.0295967 6.06535C0.0644917 5.9528 0.128762 5.85272 0.215137 5.77644C0.301512 5.70016 0.406545 5.65072 0.518352 5.63371L5.3131 4.90413L7.45723 0.353352C7.50723 0.247282 7.58456 0.157979 7.68048 0.0955353C7.7764 0.0330921 7.88709 0 8.00003 0C8.11296 0 8.22365 0.0330921 8.31957 0.0955353C8.41549 0.157979 8.49282 0.247282 8.54282 0.353352L10.687 4.90413L15.4813 5.63371C15.5931 5.65066 15.6982 5.70005 15.7846 5.7763C15.8711 5.85256 15.9354 5.95263 15.9703 6.06519C16.0053 6.17775 16.0094 6.29831 15.9824 6.41322C15.9553 6.52813 15.898 6.63281 15.8171 6.7154L12.3464 10.2576L13.1656 15.259C13.1805 15.35 13.1762 15.4433 13.1531 15.5323C13.13 15.6214 13.0886 15.7041 13.0318 15.7746C12.975 15.8452 12.9042 15.9019 12.8243 15.9409C12.7443 15.9798 12.6573 16 12.5692 16H12.57ZM1.90621 6.70399L4.7251 9.58215C4.7952 9.65372 4.84768 9.74203 4.87804 9.8395C4.90841 9.93697 4.91575 10.0407 4.89944 10.1418L4.23397 14.2056L7.71753 12.2883C7.80461 12.2401 7.90157 12.215 8.00003 12.215C8.09848 12.215 8.19545 12.2401 8.28252 12.2883L11.7669 14.2069L11.1006 10.1418C11.084 10.0405 11.0912 9.93658 11.1215 9.83887C11.1518 9.74116 11.2043 9.65262 11.2745 9.58088L14.0938 6.70399L10.1982 6.11221C10.1012 6.09742 10.009 6.05815 9.92961 5.99777C9.85024 5.93739 9.78607 5.85771 9.74262 5.7656L8.00003 2.06824L6.25784 5.7656C6.21435 5.85777 6.15012 5.93748 6.07067 5.99786C5.99123 6.05825 5.89896 6.09749 5.80181 6.11221L1.90621 6.70399Z" fill="#CBCBCB"/>
                                                        </svg>
                                                    <% } %>
                                                    <% if (scr.result || scr.certificate) { %>
                                                        <svg viewBox="0 0 576 512" class="-passed-no-certificate">
                                                            <path d="M463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7zM288 376.4L288.1 376.3L399.7 435.9L378.4 309.6L469.2 219.8L343.8 201.4L288.1 86.85L288 87.14V376.4z" />
                                                        </svg>
                                                    <% } %>
                                                <% } %>
                                            </span>
                                        <% }) %>
                                    </div>
                                <% } %>
                            </div>
                            <div class="cell -scoringsBacking"><%= student.scoring.scoringsBacking.length %>
                                <% if(student.scoring.scoringsBacking.length) { %>
                                    <div class="scoring-inner">
                                        <% student.scoring.scoringsBacking.forEach(scr => { %>
                                            <span class="scoring-item" title="<%= scr.instructor %> <%= formatDate(scr.created) %>">
                                                <% if (scr.result && scr.certificate) { %>
                                                    <svg width="16" height="16" viewBox="0 0 16 16" class="-passed-and-certificate">
                                                        <path d="M12.57 16C12.4716 16.0004 12.3745 15.9754 12.2875 15.9273L8.00003 13.5657L3.71175 15.9273C3.61181 15.9821 3.49925 16.0065 3.38677 15.9978C3.27428 15.9892 3.16634 15.9477 3.07512 15.8783C2.9839 15.8088 2.91303 15.714 2.8705 15.6046C2.82797 15.4952 2.81547 15.3755 2.83441 15.259L3.65364 10.2576L0.18299 6.7154C0.102053 6.63284 0.0447919 6.5282 0.0176835 6.41332C-0.00942487 6.29844 -0.00529819 6.1779 0.0295967 6.06535C0.0644917 5.9528 0.128762 5.85272 0.215137 5.77644C0.301512 5.70016 0.406544 5.65072 0.518352 5.63371L5.3131 4.90413L7.45723 0.353352C7.50723 0.247282 7.58456 0.157979 7.68048 0.0955353C7.7764 0.0330921 7.88709 0 8.00003 0C8.11296 0 8.22365 0.0330921 8.31957 0.0955353C8.41549 0.157979 8.49282 0.247282 8.54282 0.353352L10.687 4.90413L15.4813 5.63371C15.5931 5.65066 15.6982 5.70005 15.7846 5.7763C15.8711 5.85256 15.9354 5.95263 15.9703 6.06519C16.0053 6.17775 16.0094 6.29831 15.9824 6.41322C15.9553 6.52813 15.898 6.63281 15.8171 6.7154L12.3464 10.2576L13.1656 15.259C13.1805 15.35 13.1762 15.4433 13.1531 15.5323C13.13 15.6214 13.0886 15.7041 13.0318 15.7746C12.975 15.8452 12.9042 15.9019 12.8243 15.9409C12.7443 15.9798 12.6581 16 12.57 16Z" />
                                                    </svg>
                                                <% } else { %>
                                                    <% if (!scr.result && !scr.certificate) { %>
                                                        <svg width="16" height="16" viewBox="0 0 16 16" class="-failed-no-certificate">
                                                            <path d="M12.57 16C12.4716 16.0004 12.3745 15.9754 12.2875 15.9273L8.00003 13.5657L3.71175 15.9273C3.61181 15.9821 3.49925 16.0065 3.38677 15.9978C3.27428 15.9892 3.16634 15.9477 3.07512 15.8783C2.9839 15.8088 2.91303 15.714 2.8705 15.6046C2.82797 15.4952 2.81547 15.3755 2.83441 15.259L3.65364 10.2576L0.18299 6.7154C0.102053 6.63284 0.0447919 6.5282 0.0176835 6.41332C-0.00942486 6.29844 -0.00529819 6.1779 0.0295967 6.06535C0.0644917 5.9528 0.128762 5.85272 0.215137 5.77644C0.301512 5.70016 0.406545 5.65072 0.518352 5.63371L5.3131 4.90413L7.45723 0.353352C7.50723 0.247282 7.58456 0.157979 7.68048 0.0955353C7.7764 0.0330921 7.88709 0 8.00003 0C8.11296 0 8.22365 0.0330921 8.31957 0.0955353C8.41549 0.157979 8.49282 0.247282 8.54282 0.353352L10.687 4.90413L15.4813 5.63371C15.5931 5.65066 15.6982 5.70005 15.7846 5.7763C15.8711 5.85256 15.9354 5.95263 15.9703 6.06519C16.0053 6.17775 16.0094 6.29831 15.9824 6.41322C15.9553 6.52813 15.898 6.63281 15.8171 6.7154L12.3464 10.2576L13.1656 15.259C13.1805 15.35 13.1762 15.4433 13.1531 15.5323C13.13 15.6214 13.0886 15.7041 13.0318 15.7746C12.975 15.8452 12.9042 15.9019 12.8243 15.9409C12.7443 15.9798 12.6573 16 12.5692 16H12.57ZM1.90621 6.70399L4.7251 9.58215C4.7952 9.65372 4.84768 9.74203 4.87804 9.8395C4.90841 9.93697 4.91575 10.0407 4.89944 10.1418L4.23397 14.2056L7.71753 12.2883C7.80461 12.2401 7.90157 12.215 8.00003 12.215C8.09848 12.215 8.19545 12.2401 8.28252 12.2883L11.7669 14.2069L11.1006 10.1418C11.084 10.0405 11.0912 9.93658 11.1215 9.83887C11.1518 9.74116 11.2043 9.65262 11.2745 9.58088L14.0938 6.70399L10.1982 6.11221C10.1012 6.09742 10.009 6.05815 9.92961 5.99777C9.85024 5.93739 9.78607 5.85771 9.74262 5.7656L8.00003 2.06824L6.25784 5.7656C6.21435 5.85777 6.15012 5.93748 6.07067 5.99786C5.99123 6.05825 5.89896 6.09749 5.80181 6.11221L1.90621 6.70399Z" fill="#CBCBCB"/>
                                                        </svg>
                                                    <% } %>
                                                    <% if (scr.result || scr.certificate) { %>
                                                        <svg viewBox="0 0 576 512" class="-passed-no-certificate">
                                                            <path d="M463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7zM288 376.4L288.1 376.3L399.7 435.9L378.4 309.6L469.2 219.8L343.8 201.4L288.1 86.85L288 87.14V376.4z" />
                                                        </svg>
                                                    <% } %>
                                                <% } %>
                                            </span>
                                        <% }) %>
                                    </div>
                                <% } %>
                            </div>
                            <div class="cell -scoringsCity"><%= student.scoring.scoringsCity.length %>
                                <% if(student.scoring.scoringsCity.length) { %>
                                    <div class="scoring-inner">
                                        <% student.scoring.scoringsCity.forEach(scr => { %>
                                            <span class="scoring-item" title="<%= scr.instructor %> <%= formatDate(scr.created) %>">
                                                <% if (scr.result && scr.certificate) { %>
                                                    <svg width="16" height="16" viewBox="0 0 16 16" class="-passed-and-certificate">
                                                        <path d="M12.57 16C12.4716 16.0004 12.3745 15.9754 12.2875 15.9273L8.00003 13.5657L3.71175 15.9273C3.61181 15.9821 3.49925 16.0065 3.38677 15.9978C3.27428 15.9892 3.16634 15.9477 3.07512 15.8783C2.9839 15.8088 2.91303 15.714 2.8705 15.6046C2.82797 15.4952 2.81547 15.3755 2.83441 15.259L3.65364 10.2576L0.18299 6.7154C0.102053 6.63284 0.0447919 6.5282 0.0176835 6.41332C-0.00942487 6.29844 -0.00529819 6.1779 0.0295967 6.06535C0.0644917 5.9528 0.128762 5.85272 0.215137 5.77644C0.301512 5.70016 0.406544 5.65072 0.518352 5.63371L5.3131 4.90413L7.45723 0.353352C7.50723 0.247282 7.58456 0.157979 7.68048 0.0955353C7.7764 0.0330921 7.88709 0 8.00003 0C8.11296 0 8.22365 0.0330921 8.31957 0.0955353C8.41549 0.157979 8.49282 0.247282 8.54282 0.353352L10.687 4.90413L15.4813 5.63371C15.5931 5.65066 15.6982 5.70005 15.7846 5.7763C15.8711 5.85256 15.9354 5.95263 15.9703 6.06519C16.0053 6.17775 16.0094 6.29831 15.9824 6.41322C15.9553 6.52813 15.898 6.63281 15.8171 6.7154L12.3464 10.2576L13.1656 15.259C13.1805 15.35 13.1762 15.4433 13.1531 15.5323C13.13 15.6214 13.0886 15.7041 13.0318 15.7746C12.975 15.8452 12.9042 15.9019 12.8243 15.9409C12.7443 15.9798 12.6581 16 12.57 16Z" />
                                                    </svg>
                                                <% } else { %>
                                                    <% if (!scr.result && !scr.certificate) { %>
                                                        <svg width="16" height="16" viewBox="0 0 16 16" class="-failed-no-certificate">
                                                            <path d="M12.57 16C12.4716 16.0004 12.3745 15.9754 12.2875 15.9273L8.00003 13.5657L3.71175 15.9273C3.61181 15.9821 3.49925 16.0065 3.38677 15.9978C3.27428 15.9892 3.16634 15.9477 3.07512 15.8783C2.9839 15.8088 2.91303 15.714 2.8705 15.6046C2.82797 15.4952 2.81547 15.3755 2.83441 15.259L3.65364 10.2576L0.18299 6.7154C0.102053 6.63284 0.0447919 6.5282 0.0176835 6.41332C-0.00942486 6.29844 -0.00529819 6.1779 0.0295967 6.06535C0.0644917 5.9528 0.128762 5.85272 0.215137 5.77644C0.301512 5.70016 0.406545 5.65072 0.518352 5.63371L5.3131 4.90413L7.45723 0.353352C7.50723 0.247282 7.58456 0.157979 7.68048 0.0955353C7.7764 0.0330921 7.88709 0 8.00003 0C8.11296 0 8.22365 0.0330921 8.31957 0.0955353C8.41549 0.157979 8.49282 0.247282 8.54282 0.353352L10.687 4.90413L15.4813 5.63371C15.5931 5.65066 15.6982 5.70005 15.7846 5.7763C15.8711 5.85256 15.9354 5.95263 15.9703 6.06519C16.0053 6.17775 16.0094 6.29831 15.9824 6.41322C15.9553 6.52813 15.898 6.63281 15.8171 6.7154L12.3464 10.2576L13.1656 15.259C13.1805 15.35 13.1762 15.4433 13.1531 15.5323C13.13 15.6214 13.0886 15.7041 13.0318 15.7746C12.975 15.8452 12.9042 15.9019 12.8243 15.9409C12.7443 15.9798 12.6573 16 12.5692 16H12.57ZM1.90621 6.70399L4.7251 9.58215C4.7952 9.65372 4.84768 9.74203 4.87804 9.8395C4.90841 9.93697 4.91575 10.0407 4.89944 10.1418L4.23397 14.2056L7.71753 12.2883C7.80461 12.2401 7.90157 12.215 8.00003 12.215C8.09848 12.215 8.19545 12.2401 8.28252 12.2883L11.7669 14.2069L11.1006 10.1418C11.084 10.0405 11.0912 9.93658 11.1215 9.83887C11.1518 9.74116 11.2043 9.65262 11.2745 9.58088L14.0938 6.70399L10.1982 6.11221C10.1012 6.09742 10.009 6.05815 9.92961 5.99777C9.85024 5.93739 9.78607 5.85771 9.74262 5.7656L8.00003 2.06824L6.25784 5.7656C6.21435 5.85777 6.15012 5.93748 6.07067 5.99786C5.99123 6.05825 5.89896 6.09749 5.80181 6.11221L1.90621 6.70399Z" fill="#CBCBCB"/>
                                                        </svg>
                                                    <% } %>
                                                    <% if (scr.result || scr.certificate) { %>
                                                        <svg viewBox="0 0 576 512" class="-passed-no-certificate">
                                                            <path d="M463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7zM288 376.4L288.1 376.3L399.7 435.9L378.4 309.6L469.2 219.8L343.8 201.4L288.1 86.85L288 87.14V376.4z" />
                                                        </svg>
                                                    <% } %>
                                                <% } %>
                                            </span>
                                        <% }) %>
                                    </div>
                                <% } %>
                            </div>
                        <% } else { %>
                            <span class="cell -scoringsInCab"></span>
                            <span class="cell -scoringsOutCab"></span>
                            <span class="cell -scoringsBacking"></span>
                            <span class="cell -scoringsCity"></span>
                        <% } %>


                        <% if (student.skillsTest) { %>
                            <% if (student.skillsTest.length) { %>
                                <span class="cell -skills-history" title="<%= getHistory(student) %>">
                                    <div class="-skills-history-exists">
                                        <%= student.skillsTest.length %>
                                    </div>
                                </span>
                            <% } else { %>
                                <span class="cell -skills-history"></span>
                            <% } %>
                        <% } else { %>
                            <span class="cell -skills-history"></span>
                        <% } %>


                        <!-- Push to Skills Test Section -->
                        <div class="clear-scheduled-test" title="delete scheduled" onclick="deleteFromChart(this)">
                            <svg width="11" height="11" viewBox="0 0 11 11" fill="none">
                                <path d="M8.3621 10.4169L5.51882 7.57362L2.65672 10.4357L0.548767 8.32777L3.41087 5.46567L0.583924 2.63873L2.6379 0.584755L5.46484 3.4117L8.32694 0.549598L10.4349 2.65755L7.57279 5.51965L10.4161 8.36293L8.3621 10.4169Z" fill="#F27878"/>
                            </svg>
                        </div>
                        <input class="cell -schedule-date-time -schedule-date-time-empty" type="datetime-local" name="schedule-date-time" onchange="checkDateInput(this)" />


                    </div>          <!-- report-row -->
                <% } %>         <!-- if (student.user) -->
            <% }) %>        <!-- students.forEach -->
        <% } %>         <!-- if (students) -->
    </div>          <!-- skills-test-box -->


    <!-- MODAL Dialogues Section -->
    <!-- blank-modal-layout is for cover all skills test working area, which is wider than 100vw -->
    <!-- modal-skills-test-report width = 100vw -->

    <div class="blank-modal-layout -hidden">
        <section class="modal-skills-test-report">
            <div class="modal-skills-header-row -top-row">
                <img class="modal-skills-ico" src="/static/images/cdl-lic.jpg" alt="CDL License">
                <h3 class="modal-skills-title">CDL School Student Skills Testing Schedule</h3>
                <nav>
                    <span class="modal-skills-submit" onclick="submitSkillsTest()">submit</span>
                    <svg class="modal-skills-test-close" viewBox="0 0 320 512" onclick="closeSkillsTestModal()">
                        <path d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"/>
                    </svg>
                </nav>
            </div> <!-- header-row -->
            <!-- hidden form for  -->
            <div class="modal-skills-header-row">
                <div class="item">
                    <span class="key">School Name:</span>
                    <span class="value">BoltCDL</span>
                </div>
                <div class="item">
                    <span class="key">Tests for Week of:</span>
                    <span class="value"></span>
                </div>
                <div class="item">
                    <span class="key">Date Submitted:</span>
                    <span class="value"><%= formatDate(new Date()) %></span>
                </div>
            </div>       <!-- header-row -->
            <div class="modal-skills-header-row">
                <div class="item">
                    <span class="key">Testing Coordinator:</span>
                    <span class="value"></span>
                </div>


                <select id="skills-test-location" class="item">
                    <% skillsTestLocations.forEach((spot, index) => { %>
                        <% if (index === 0) { %>
                            <option value="<%= spot.location %>" selected><%= spot.location %></option>
                        <% } else { %>
                            <option value="<%= spot.location %>"><%= spot.location %></option>
                        <%  } %>        
                    <%  }) %>
                </select>
                <div class="item">
                    <span class="key">Phone Number:</span>
                    <input type="text" class="value" id="office-phone" value="Office (253) 212-9463" placeholder="phone #" />
                </div>
            </div>       <!-- header-row -->
            <div class="modal-skills-table">
                <div class="modal-skills-table-headers-row">
                    <span class="-m-license-number">License Number</span>
                    <span class="-m-last-name">Last Name</span>
                    <span class="-m-first-name">First Name</span>
                    <span class="-m-dob">Date Of Birth</span>
                    <span class="-m-phone">Customer<br>Phone #</span>
                    <span class="-m-class">CDL Class</span>
                    <span class="-m-test-type">Test Type</span>
                    <span class="-m-vehicle-type">Vehicle Type</span>
                    <span class="-m-endorsements">Endorsements</span>
                    <span class="-m-brakes">Brakes</span>
                    <span class="-m-transmission">Transmission</span>
                    <span class="-m-strf">STRF #</span>
                    <span class="-m-preferred-date">Preferred Test Dates</span>
                    <span class="-m-comment">Comments</span>
                </div>  <!-- modal-skills-table-row -->

                <!-- template row -->
                <div class="modal-skills-table-row -template-row" id="template-row">
                    <div class="delele-student-from-skills-test" title="delete from report" onclick="deleteStudent(this)">-</div>
                    <span class="-m-license-number"></span>
                    <span class="-m-last-name"></span>
                    <span class="-m-first-name"></span>
                    <span class="-m-dob"></span>
                    <span class="-m-phone"></span>
                    <span class="-m-class"></span>

                    <span class="-m-test-type">
                        <select>
                            <option value="Initial" selected>Initial</option>
                            <option value="Retest">Retest</option>
                            <option value="Retest Bk & Rd">Retest Bk & Rd</option>
                            <option value="Retest Rd only">Retest Rd only</option>
                        </select>
                    </span>
                    
                    <span class="-m-vehicle-type">
                        <select>
                            <option value="Straight Truck" selected>Straight Truck</option>
                            <option value="Coach/Transit Bus">Coach/Transit Bus</option>
                            <option value="Combo- Tractor/Semi-Trailer">Combo- Tractor/Semi-Trailer</option>
                            <option value="Combo- Truck/Trailer">Combo- Truck/Trailer</option>
                            <option value="School Bus">School Bus</option>
                        </select>
                    </span>

                    <span class="-m-endorsements">
                        <select>
                            <option value="None" selected>None</option>
                            <option value="Hazmat">Hazmat</option>
                            <option value="Passenger">Passenger</option>
                            <option value="School Bus">School Bus</option>
                        </select>
                    </span>

                    <span class="-m-brakes">
                        <select>
                            <option value="Full Air" selected>Full Air</option>
                            <option value="Partial (Z)">Partial (Z)</option>
                            <option value="Hydraulic (L)">Hydraulic (L)</option>
                        </select>
                    </span>

                    <span class="-m-transmission">
                        <select>
                            <option value="Automatic">Automatic</option>
                            <option value="Manual">Manual</option>
                        </select>
                    </span>
                    
                    <span class="-m-strf">
                        <select>
                            <option value="Paid" selected>Paid</option>
                            <option value="Paid" selected>to Pay</option>
                        </select>
                    </span>
                    <span class="-m-preferred-date"></span>
                    <span class="-m-comment">
                        <input type="text" />
                    </span>
                </div>  <!-- modal-skills-table-row -->

            </div>  <!-- modal-skills-table -->
        </section>      <!-- modal-cart -->
    </div>  <!-- blank-modal-layout -->




    <script>
        // REFRESH button for diff. TTT
        function updateRefresh(numInput) {
            const link = document.querySelector('#refresh-skills')
            const skillsCalendarLink = document.querySelector('#skills-calendar-ref')
            if (numInput && link && skillsCalendarLink) {
                link.setAttribute('href', `/admin/student/skills-test?TTT=${numInput.value}`)
                skillsCalendarLink.setAttribute('href', `/admin/student/skills-calendar?backtoTTT=${numInput.value}`)
            }
        }


        // FILTERING
        const rows = document.querySelectorAll('.report-row')
        const lastNames = document.querySelectorAll('.-lastName')
        const firstNames = document.querySelectorAll('.-firstName')
        const middleNames = document.querySelectorAll('.-middleName')
        const studentKeys = document.querySelectorAll('.-key')

        function filterColumn(input) {
            if (!input) { return }
            const filter = input.value.toLowerCase()
            if (!rows || !lastNames || !firstNames || !middleNames) { return }
            if (rows.length < 2) { return }
            for (let i=1; i<rows.length; i++) {
                
                let toShow = lastNames[i].textContent.toLowerCase().includes(filter)
                || firstNames[i].textContent.toLowerCase().includes(filter)
                || middleNames[i].textContent.toLowerCase().includes(filter)
                || studentKeys[i].textContent.toLowerCase().includes(filter)
                
                rows[i].classList.toggle('-hidden', !toShow)
                rows[i].classList.toggle('-visible', toShow && filter)
            }
        }


        // Date of Skill Test assigment
        // near the cart shows q-ty of scheduled
        const selectedQty = document.querySelector('#scheduled-qty')

        function updateCart() {
            // changing q-ty of selected
            if (selectedQty) {
                let selected = 0
                const pushedStudentRows = document.querySelectorAll('.-pushed-to-schedule')
                if (pushedStudentRows) {
                    selected = pushedStudentRows.length
                }
                if (parseInt(selectedQty.textContent) === selected) { return }
                selectedQty.textContent = selected
                selectedQty.dataset.value = selected    // for css
            }
        }

        // fires, when schedule someone
        function checkDateInput(dateInput) {
            if (!dateInput) { return }
            // highlighting self
            dateInput.classList.toggle('-schedule-date-time-filled', dateInput.value)
            dateInput.classList.toggle('-schedule-date-time-empty', !dateInput.value)
            // highlighting row
            const row = dateInput.parentElement
            if (row) { 
                row.classList.toggle('-pushed-to-schedule', dateInput.value)
            }
            updateCart()
        }

        // delete row from the list, available for cart
        function deleteFromChart(delDiv) {
            const currentRow = delDiv.parentElement
            if (currentRow) {
                currentRow.classList.remove("-pushed-to-schedule")
                const dateInput = currentRow.querySelector(".-schedule-date-time-filled")
                if (dateInput) {
                    dateInput.classList.remove("-schedule-date-time-filled")
                    dateInput.classList.add("-schedule-date-time-empty")
                    dateInput.value = ""
                }
            }
            updateCart()
        }


        //  *   MODAL   *

        // working with Modals
        function showSkillsTestModal() {
            if (selectedQty) {
                // filling modal with data
                const modalSkillsTable = document.querySelector('.modal-skills-table')
                const template = document.querySelector('#template-row')
                const pushedStudentRows = document.querySelectorAll('.-pushed-to-schedule')
                if (pushedStudentRows && template && modalSkillsTable) {
                    pushedStudentRows.forEach((pushedStudentRow, index) => {
                        let clone = template.cloneNode(true)

                        // skillsHistory
                        clone.querySelector('.-m-license-number').textContent = pushedStudentRow.querySelector('.-drvLicense').textContent
                        clone.querySelector('.-m-last-name').textContent = pushedStudentRow.querySelector('.-lastName').textContent.toUpperCase()
                        clone.querySelector('.-m-first-name').textContent = pushedStudentRow.querySelector('.-firstName').textContent.toUpperCase()
                        clone.querySelector('.-m-dob').textContent = pushedStudentRow.querySelector('.-dob').textContent
                        clone.querySelector('.-m-phone').textContent = pushedStudentRow.querySelector('.-phone').textContent
                        clone.querySelector('.-m-class').textContent = pushedStudentRow.querySelector('.-class').textContent.replace("CDL Class", "")

                        let skillsHistory = parseInt(pushedStudentRow.dataset.skillshistory)
                        if (skillsHistory) {
                            let testTypeSelect = clone.querySelector('.-m-test-type select')
                            if (testTypeSelect) {
                                testTypeSelect.querySelectorAll('option').forEach(option => {
                                    option.removeAttribute('selected')
                                    if (option.value === 'Retest') {
                                        option.setAttribute('selected', 'true')
                                    }
                                })
                            }
                        }

                        let transmOptions = clone.querySelectorAll('.-m-transmission option')
                        
                        if (transmOptions) {
                            transmOptions.forEach(transmOption => {
                                if (transmOption.innerText === pushedStudentRow.querySelector('.-transmission').textContent.replace(' ', '')) {
                                    transmOption.setAttribute('selected', 'true')
                                }
                            })
                        }
                        
                        clone.querySelector('.-m-preferred-date').textContent = pushedStudentRow.querySelector('.-schedule-date-time').value.replace("T", "\n")

                        clone.id = `modal-skills-line-${index}`
                        clone.dataset.student = pushedStudentRow.dataset.student
                        clone.dataset.user = pushedStudentRow.dataset.user

                        clone.classList.remove('-template-row')
                        clone.classList.add('modal-skills-line-added')
                        modalSkillsTable.insertBefore(clone, template)
                    })
                }
                // showing modal
                if (parseInt(selectedQty.textContent)) {
                    window.scrollTo(0,0);
                    document.querySelector(".blank-modal-layout").classList.remove('-hidden')
                }
            }
        }


        function closeSkillsTestModal() {
            document.querySelector(".blank-modal-layout").classList.add('-hidden')
            const addedRows = document.querySelectorAll('.modal-skills-line-added')
            if (addedRows) {
                addedRows.forEach(addedRow => {
                    addedRow.remove()
                })
            }
        }


        async function submitSkillsTest() {
            const addedRows = document.querySelectorAll('.modal-skills-line-added')
            if (!addedRows) { return }
            if (!addedRows.length) { return }
            if (!confirm(`Would you like to schedule Skills Test for selected students(${addedRows.length})?`)) { return }
            // formating data to JSON
            const skillsTestData = { 
                testLocation: document.querySelector('#skills-test-location').value,
                students: [],
            }
            addedRows.forEach(addedRow => {
                let student = {
                    studentId: addedRow.dataset.student,
                    userId: addedRow.dataset.user,
                    testType: addedRow.querySelector('.-m-test-type select').value,
                    vehicleType: addedRow.querySelector('.-m-vehicle-type select').value,
                    endorsements: addedRow.querySelector('.-m-endorsements select').value,
                    brakes: addedRow.querySelector('.-m-brakes select').value,
                    strf: addedRow.querySelector('.-m-strf select').value,
                    scheduledDate: new Date(addedRow.querySelector('.-m-preferred-date').textContent.replace("\n","T")+":00<%= locals.SCHOOL_DATA.DeltaGMT %>"),
                }
                skillsTestData.students.push(student)
            })
            // update request
            const response = await fetch('/admin/student/skills-test', {
                method: "PUT",
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(skillsTestData)
            })
            if (response.status === 200) {
                setTimeout(() => {
                    document.querySelector('#refresh-skills').click()
                }, 1000)
            } else {
                alert(`Issue, server responded: ${response.statusText}`)
            }
        }


        function deleteStudent(delButton) {
            if (!delButton) { return }
            delButton.parentElement.remove()
        }


    </script>

</body>
</html>