<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoltCDL | Learning Center</title>

    <link rel="shortcut icon" href="../../static/images/thumb.png">
    <link rel="stylesheet" href="/users/tuition/tuition.css">

</head>
<body>

    <!-- TOOLS and constants -->
    <%
        const usCurrencyFormat = new Intl.NumberFormat('us-US', { style: 'currency', currency: 'USD' })
        const hello = `Hello${locals.fullName ? ',' : '!'}`
        const prompt = locals.fullName ? `${locals.fullName}` : ''
        const balance = locals.balance = !undefined ? `${usCurrencyFormat.format(locals.balance)}` : 'no data'
        
        function leadingZero(n) { return n < 10 ? `0${n}` : `${n}` }
    %>

    <header>
        <a href="https://www.boltcdl.com" class="left-box">
            <img src="/static/images/logo-small.png" alt="Bolt small logo">
            <span>Home</span>
        </a>
        <div class="center-box">
            <p class="welcome-prompt">
                <span class="welcome-text"><%= hello %></span>
                <span class="welcome-header"><%= prompt %></span>
            </p>
            <a href="/user/home" class="back-to-profile">Profile</a>
            <p class="welcome-debt">
                <span class="welcome-text">Balance :</span>
                <span class="welcome-header"><%= balance %></span>
            </p>
        </div>
        <form class="right-box" action="/user/logout" method="POST">
            <button type="submit">
                <svg class="btn-ico -sign-out" viewBox="0 0 25 21">
                    <path d="M10.2041 18.8964C10.2041 18.939 10.2094 19.0454 10.22 19.2156C10.2307 19.3859 10.2333 19.5268 10.228 19.6386C10.2227 19.7503 10.2067 19.8753 10.1802 20.0136C10.1536 20.1519 10.1004 20.2557 10.0207 20.3248C9.94101 20.394 9.83206 20.4286 9.69388 20.4286H4.59184C3.32696 20.4286 2.24543 19.979 1.34726 19.08C0.449086 18.1809 0 17.0983 0 15.8321V4.59643C0 3.33028 0.449086 2.24767 1.34726 1.3486C2.24543 0.449535 3.32696 0 4.59184 0H9.69388C9.83206 0 9.95164 0.0505394 10.0526 0.151618C10.1536 0.252697 10.2041 0.372396 10.2041 0.510714C10.2041 0.553274 10.2094 0.659673 10.22 0.829911C10.2307 1.00015 10.2333 1.14113 10.228 1.25285C10.2227 1.36456 10.2067 1.48958 10.1802 1.6279C10.1536 1.76622 10.1004 1.86996 10.0207 1.93912C9.94101 2.00828 9.83206 2.04286 9.69388 2.04286H4.59184C3.89031 2.04286 3.28975 2.29289 2.79018 2.79297C2.2906 3.29304 2.04082 3.8942 2.04082 4.59643V15.8321C2.04082 16.5344 2.2906 17.1355 2.79018 17.6356C3.28975 18.1357 3.89031 18.3857 4.59184 18.3857H9.56633L9.74968 18.4017L9.93304 18.4496L10.0606 18.5373L10.1722 18.681L10.2041 18.8964ZM25 10.2143C25 10.4909 24.899 10.7303 24.6971 10.9325L16.0236 19.6146C15.8216 19.8168 15.5825 19.9179 15.3061 19.9179C15.0298 19.9179 14.7906 19.8168 14.5886 19.6146C14.3867 19.4125 14.2857 19.1731 14.2857 18.8964V14.3H7.14286C6.8665 14.3 6.62734 14.1989 6.42538 13.9968C6.22343 13.7946 6.12245 13.5552 6.12245 13.2786V7.15C6.12245 6.87336 6.22343 6.63397 6.42538 6.43181C6.62734 6.22965 6.8665 6.12857 7.14286 6.12857H14.2857V1.53214C14.2857 1.25551 14.3867 1.01611 14.5886 0.813951C14.7906 0.611793 15.0298 0.510714 15.3061 0.510714C15.5825 0.510714 15.8216 0.611793 16.0236 0.813951L24.6971 9.49609C24.899 9.69825 25 9.93765 25 10.2143Z" />
                </svg>
            </button>
        </form>
    </header>

    <div class="dummy-header">Dummy</div>

    <div class="main-container">
        <!-- title-box -->
        <section class="title-box">
            <h1 class="main-title">
                <span class="main-text">Welcome to</span>
                <span class="main-bold"><%= locals.SCHOOL_DATA.TITLE || "CDL School" %></span>
            </h1>
            <a href="tel:<%= locals.SCHOOL_DATA.PHONE_LINK || '#' %>" class="phone-box">
                <svg class="main-phone-ico" width="28" height="28" viewBox="0 0 28 28" fill="none">
                    <path d="M16.7129 19.3309C16.7129 19.3309 18.8184 18.1256 19.3696 17.8359C19.9192 17.5453 20.4886 17.4719 20.8344 17.6831C21.358 18.0034 25.7552 20.9284 26.1254 21.1873C26.4956 21.4468 26.674 22.1878 26.1649 22.9137C25.6579 23.6397 23.319 26.5101 22.3278 26.4794C21.3352 26.4471 17.2079 26.3567 9.42508 18.5717C1.6438 10.7894 1.55176 6.66114 1.52004 5.66846C1.48832 4.6763 4.35872 2.33682 5.08464 1.8293C5.8116 1.3223 6.55364 1.51314 6.81156 1.86986C7.10484 2.27598 9.99604 6.65906 10.3143 7.16138C10.5322 7.50458 10.4521 8.0771 10.1614 8.62726C9.87228 9.17846 8.66692 11.2839 8.66692 11.2839C8.66692 11.2839 9.5166 12.7332 12.3901 15.6062C15.2642 18.4797 16.7129 19.3309 16.7129 19.3309Z" stroke="#9C9C9C" stroke-width="2" stroke-miterlimit="10" />
                </svg>
                <span class="main-phone"><%= locals.SCHOOL_DATA.PHONE || "no phone" %></span>
            </a>
        </section>      <!-- title-box -->

        <!-- lessons -->

        <% let lesson %>
        <% listOfLessons.forEach((video, index) => { %>
            <form action="/user/tuition" method="POST" class="videoItem">
                
                <% 
                    lesson = undefined
                    if (tuition) {
                        for (let i=0; i < tuition.lessons.length; i++) {
                            if (tuition.lessons[i].videoID === video) {
                                lesson = tuition.lessons[i]
                                break
                            }
                        }
                    } 
                %>

                <div class="video-lesson-main">
                    <span class="video-lesson-index"><%= leadingZero(index + 1) %>.</span>
                    <button class="video-lesson-title"><%= listOfTitles[index] %></button>
                </div>

                <div class="video-lesson-details">
                    <div class="completeness-box">
                        <div class="completeness-item">
                            <span class="completeness-title">Completeness:</span>
                            <span class="completeness-ratio"><%= lesson ? Math.round(lesson.videoProgress * 100) : 0 %>%</span>
                        </div>
                        <div class="completeness-bar" style="--perc: <%= lesson ? lesson.videoProgress : 0 %>; --col: <%= lesson ? lesson.testProgress ? '#A2D092' : '#C4C4C4' : '#C4C4C4' %>"></div>
                    </div>
                    <div class="test-box">
                        <span class="test-title">Test:</span>
                        <div class="test-indicators-box">
                            <% if(!lesson) { %>
                                <div class="test-indicator"></div>
                                <div class="test-indicator"></div>
                                <div class="test-indicator"></div>
                            <% } else { %>
                                <% if(lesson.videoProgress < 0.85) { %>
                                    <div class="test-indicator -ind-no-test"></div>
                                    <div class="test-indicator"></div>
                                    <div class="test-indicator"></div>
                                <% } else { %>
                                    <% if(lesson.testProgress === 0) { %>
                                        <div class="test-indicator"></div>
                                        <div class="test-indicator -ind-failed"></div>
                                        <div class="test-indicator"></div>
                                    <% } else { %>
                                        <div class="test-indicator"></div>
                                        <div class="test-indicator"></div>
                                        <div class="test-indicator -ind-passed"></div>
                                    <% } %>
                                <% } %>
                            <% } %>
                        </div>      <!-- test-indicators-box -->
                    </div>
                </div>

                <input type="hidden" name='video' value='<%= video %>' />
                <input type="hidden" name="videoProgress" value="<%= lesson ? lesson.videoProgress : 0 %>" />
                <input type="hidden" name="testProgress" value="<%= lesson ? lesson.testProgress : 0 %>" />

            </form>  <!-- videoItem -->
            
        <% }) %> <!-- forEach -->
    </div>      <!-- main-container -->


    <footer>
        <div class="footer-left">
            <span>© BoltCDL</span>
        </div>
        <div class="footer-center">
            <span class="footer-item">About Us</span>
            <a class="footer-item" href="/cdl-courses">CDL Programs</a>
            <a class="footer-item" href="/faq">FAQs</a>
            <a class="footer-item" href="https://www.nstschool.com/clp" target="_blank">CLP</a>
            <span class="footer-item">Contact Us</span>
        </div>
        <div class="footer-right">
            <span>designed by</span>
            <a href="https://www.boltcdl.com" target="_blank">BOLT</a>
        </div>
    </footer>



</body>
</html>