<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoltCDL | Scoring Printable View</title>

    <link rel="shortcut icon" href="../../static/images/thumb.png">
    <link rel="stylesheet" href="/admin/instructors/scoring-printable-view.css">
</head>
<body>
    
    <div class="scoring-box">

        <% if(backlink) { %>
            <a class='backlink' href="<%= backlink %>">« Back</a>
        <% } else { %>
            <a class='backlink' href="#" onclick="history.back()">« Back</a>
        <% } %>

        <% if(!scoring) { %>
            <h1 class='title'>Oooopps... No scoring data were passed</h1>
        <% } else { %>
            <h1 class='title'><span class="sub-title"><%= scoring.class %>:</span><%= scoring.scoringTitle %></h1>

            <header>
                <div class="-left-header-box">
                    <div class="block-item">
                        <p class="item-title">Student</p>
                        <span class="item-value -bold"><%= scoring.studentName %></span>
                    </div>
                    <div class="block-item">
                        <p class="item-title">Email</p>
                        <span class="item-value"><%= scoring.studentEmail %></span>
                    </div>
                    <div class="block-item">
                        <p class="item-title">Key</p>
                        <span class="item-value"><%= scoring.studentKey %></span>
                    </div>
                    <div class="block-item">
                        <p class="item-title">Location</p>
                        <span class="item-value"><%= scoring.location %></span>
                    </div>
                </div>    <!-- -left-header-box -->
                <div class="-right-header-box">
                    <div class="block-item">
                        <p class="item-title">Examiner</p>
                        <span class="item-value -bold"><%= scoring.examinerName %></span>
                    </div>
                    <div class="block-item">
                        <p class="item-title">Timestamp</p>
                        <span class="item-value"><%= scoring.examDate %> <%= scoring.examTime %> Pacific Time Zone</span>
                    </div>
                    <div class="block-item">
                        <p class="item-title">Location</p>
                        <span class="item-value"><%= scoring.examinerLocation %></span>
                    </div>
                </div>       <!-- -right-header-box -->

                <div class="block-item">
                    <span class="item-title">Conducted as part of training <%= scoring.class %> <%= scoring.transmittion %> as of test date student had <%= Math.round(scoring.TTT) %>h of tuition time compounded</span>
                </div>
            </header>

            <% const typeOfScoring = scoring.scoringType === 'INCAB' || scoring.scoringType === 'OUTCAB' %>

            <div class="test-information-box">
                <div class="-left-test-information-box">
                    <!-- Certificates -->
                    <% if(scoringCertificate.toString() === 'true') { %>
                        <img class="cert-ico" src="/static/images/_certified.png" alt="test certified">
                        <p class="cert-info">Instructor <span>certified</span> student's knowledge and skills due to examining discipline</p>
                    <% } else { %>
                        <img class="cert-ico" src="/static/images/_not-certified.png" alt="test not certified">
                        <p class="cert-info">The student's knowledge and skills are <span>not certified</span></p>
                    <% } %>
                </div>    <!-- -left-test-information-box -->
                <div class="-right-test-information-box">
                    <div class="block-item">
                        <p class="item-title">Test capacity</p>
                        <span class="item-value -bold"><%= scoring.maxPoints %> points</span>
                    </div>
                    <div class="block-item">
                        <p class="item-title">Test type</p>
                        <% if (typeOfScoring) { %>
                            <span class="item-value">Ascending (as many points as possible), lower limit is <%= Math.round(scoring.maxPoints * scoring.limit) %> points</span>
                        <% } else { %>
                            <span class="item-value">Descending (as few points as possible, points are treated as a penalty), maximum <%= scoring.limit %> penatly points allowed</span>
                        <% } %>
                    </div>
                    <div class="block-item">
                        <p class="item-title">Result</p>
                        <span class="item-value" id='result' data-passed="<%= scoring.ifPassed %>"><%= scoring.ifPassed ? 'PASSED' : 'FAILED' %></span>
                    </div>
                    <% if(scoring.importantCoveredRatio) { %>
                        <div class="block-item">
                            <p class="item-title -mandatory">Percentage of coverage of mandatory inspections</p>
                            <span class="item-value -bold" id='importantCoveredRatio'><%= Math.round(scoring.importantCoveredRatio * 1000) / 10 %>%</span>
                        </div>
                    <% } %>
                </div>       <!-- -right-test-information-box -->
            </div>  <!-- test-information-box -->

            
            <div class="scoring-results">
                <h2>Scoring details</h2>
                <% scoring.blocks.forEach(block => { %>
                    <section class="scoring-block-box">
                        <div class="scoring-block-box-inner">
                            <h4 class="scoring-block-box-title"><%= block.bl %></h4>
                            <div class="scoring-block-box-line"></div>
                        </div>

                        <div class="scoring-checks">

                            <% block.items.forEach((item, index) => { %>

                                <div class="scoring-block" data-skills="<%= block.items.length %>">

                                    <h5 class="scoring-block-title"><%= item.it %></h5>
                                    <div class="scoring-skills-box">
                                        <% item.skills.forEach(skill => { %>
                                            <div class="scoring-skill">
                                                <span class="scoring-skill-value"><%= skill.sk %></span>
                                                <div class="scoring-skill-check">
                                                    <% if(skill.checked) { %>
                                                        
                                                        <% if (typeOfScoring) { %>
                                                            <div class="-checked"></div>
                                                        <% } else { %>
                                                            <div class="-unchecked"></div>
                                                        <% } %>

                                                    <% } %>
                                                </div>
                                            </div>
                                        <% }) %>
                                    </div>
                                </div>
                            <% }) %>

                        </div>      <!-- scoring-checks -->


                    </section>
                <% }) %>
            </div>      <!-- scoring-results -->

            <!-- Comments -->
            <% if(allowComments) { %>
                <% if(scoringComment) { %>
                    <details class="comments">
                        <summary>Examiner comments</summary>
                        <p><%= scoringComment %></p>
                    </details>
                <% } %>
            <% } %>

        <% } %>     <!-- scoring data passed -->

        <footer>
            <% if(backlink) { %>
                <a class='backlink' href="<%= backlink %>">« Back</a>
            <% } else { %>
                <a class='backlink' href="#" onclick="history.back()">« Back</a>
            <% } %>
        </footer>

    </div>      <!-- scoring-box -->


</body>
</html>


