<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoltCDL | Profile | <%= locals.user.id %></title>

    <link rel="shortcut icon" href="/static/images/thumb.png">
    <link rel="stylesheet" href="/admin/admProfile.css">
</head>
<body>

    <header>
        <!-- HOME element -->
        <a href="/admin/profile" class="header-left-item">
            <img src="/static/images/logo-small.png" alt="BOLT logo small" class="bolt-home">
            <span class="item-home">Home</span>
        </a>      <!-- header-left-item -->
        <!-- CENTER element -->
        <nav class="header-center-item">
            <div class="nav-left-side">
                <a href="/admin/charts/AR" class="header-nav-item" title="Accounts Receivable">
                    <svg width="25" height="25" viewBox="0 0 25 25">
                        <path d="M15.6456 12.3657C15.2551 12.0587 14.6738 11.8126 13.9165 11.6343L12.2551 11.2427C11.9876 11.1806 11.7697 11.1242 11.588 11.0711C11.4035 11.0242 11.2245 10.9576 11.0542 10.8725C10.9492 10.824 10.8609 10.7455 10.8007 10.6468C10.7404 10.5482 10.7108 10.4338 10.7156 10.3183C10.7104 10.1847 10.7414 10.0521 10.8054 9.93469C10.8694 9.81727 10.9639 9.71933 11.079 9.65124C11.2321 9.55431 11.4009 9.4848 11.5779 9.44582C11.7832 9.40063 11.993 9.37905 12.2032 9.38149C12.5534 9.37109 12.9019 9.43494 13.2257 9.56885L13.2765 9.59368C13.5104 9.70347 13.6973 9.8932 13.8036 10.1287C13.8928 10.3357 14.04 10.5125 14.2274 10.6377C14.4149 10.7629 14.6346 10.8311 14.86 10.8341H14.93C15.1233 10.8343 15.3135 10.7855 15.4828 10.6924C15.6521 10.5992 15.7951 10.4647 15.8984 10.3014C16.0014 10.1409 16.062 9.9569 16.0746 9.76664C16.0873 9.57637 16.0515 9.38601 15.9707 9.21332C15.7672 8.77599 15.4566 8.39709 15.0677 8.11174C14.6172 7.77938 14.1044 7.54103 13.5598 7.41084V7.09707C13.5598 6.79772 13.4409 6.51064 13.2292 6.29898C13.0176 6.08731 12.7305 5.9684 12.4311 5.9684C12.1318 5.9684 11.8447 6.08731 11.6331 6.29898C11.4214 6.51064 11.3025 6.79772 11.3025 7.09707V7.35214C10.5361 7.47743 9.91196 7.75282 9.44356 8.17381C9.11751 8.45764 8.8576 8.80946 8.6821 9.20452C8.50661 9.59958 8.41979 10.0283 8.42776 10.4605C8.42776 11.4661 8.78329 12.2201 9.48532 12.7009C9.86794 12.9661 10.5203 13.2032 11.4774 13.4244L11.6445 13.4628L12.6704 13.6885C12.8962 13.7381 13.0937 13.7867 13.263 13.8386C13.4887 13.9001 13.7062 13.9884 13.9108 14.1016C14.006 14.1527 14.085 14.2293 14.139 14.3228C14.193 14.4163 14.2199 14.523 14.2167 14.6309C14.2167 15.0666 13.9966 15.3454 13.526 15.5102C13.4457 15.5372 13.3639 15.5594 13.281 15.5768C13.0041 15.6309 12.7223 15.6562 12.4402 15.6524C12.1554 15.657 11.8713 15.6224 11.5959 15.5497C11.3399 15.4856 11.1088 15.3464 10.9323 15.1501C10.8584 15.0573 10.7997 14.9533 10.7585 14.842C10.6999 14.6924 10.6117 14.5562 10.499 14.4417C10.3863 14.3273 10.2516 14.2368 10.103 14.1759C9.95433 14.115 9.79488 14.0849 9.63426 14.0874C9.47365 14.0899 9.31522 14.1249 9.16855 14.1904C9.02188 14.2559 8.89002 14.3505 8.78096 14.4685C8.67191 14.5864 8.58791 14.7252 8.53406 14.8766C8.48022 15.0279 8.45763 15.1886 8.46769 15.3489C8.47774 15.5092 8.52022 15.6658 8.59255 15.8093C8.7919 16.2099 9.07937 16.5603 9.43341 16.8341C9.98076 17.2478 10.6222 17.5192 11.3002 17.6242V17.9018C11.3002 18.2011 11.4191 18.4882 11.6308 18.6999C11.8425 18.9116 12.1295 19.0305 12.4289 19.0305C12.7282 19.0305 13.0153 18.9116 13.227 18.6999C13.4386 18.4882 13.5576 18.2011 13.5576 17.9018V17.649C14.3476 17.5226 14.9966 17.2427 15.5 16.8126C15.8447 16.5308 16.1212 16.1746 16.3088 15.7708C16.4964 15.367 16.5904 14.926 16.5835 14.4808C16.5801 13.5677 16.2664 12.8555 15.6456 12.3657Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 2.25734C6.84313 2.25734 2.25734 6.84313 2.25734 12.5C2.25734 18.1569 6.84313 22.7427 12.5 22.7427C18.1569 22.7427 22.7427 18.1569 22.7427 12.5C22.7427 6.84313 18.1569 2.25734 12.5 2.25734ZM0 12.5C0 5.59644 5.59644 0 12.5 0C19.4036 0 25 5.59644 25 12.5C25 19.4036 19.4036 25 12.5 25C5.59644 25 0 19.4036 0 12.5Z" />
                    </svg>
                    <span>Accounts Receivable</span>
                </a>
                <a href="/admin/charts/PF" class="header-nav-item" title="Graduation Dynamics">
                    <svg width="25" height="22" viewBox="0 0 25 22">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.6667 1.68919C16.6667 0.896953 17.2272 0 18.2057 0H21.2087C22.1872 0 22.7477 0.896953 22.7477 1.68919V20.6081C22.7477 21.0435 22.3948 21.3964 21.9595 21.3964C21.5241 21.3964 21.1712 21.0435 21.1712 20.6081V1.68919C21.1712 1.63657 21.1583 1.59898 21.1467 1.57658H18.2678C18.2561 1.59898 18.2432 1.63657 18.2432 1.68919V20.6081C18.2432 21.0435 17.8903 21.3964 17.455 21.3964C17.0196 21.3964 16.6667 21.0435 16.6667 20.6081V1.68919Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.45946 7.9955C9.45946 7.20326 10.02 6.30631 10.9985 6.30631H14.0015C14.98 6.30631 15.5405 7.20326 15.5405 7.9955V20.6081C15.5405 21.0435 15.1876 21.3964 14.7523 21.3964C14.3169 21.3964 13.964 21.0435 13.964 20.6081V7.9955C13.964 7.94287 13.9511 7.90529 13.9395 7.88288H11.0605C11.0489 7.90529 11.036 7.94287 11.036 7.9955V20.6081C11.036 21.0435 10.6831 21.3964 10.2477 21.3964C9.81239 21.3964 9.45946 21.0435 9.45946 20.6081V7.9955Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.25225 14.3018C2.25225 13.5096 2.81283 12.6126 3.79129 12.6126H6.79429C7.77275 12.6126 8.33333 13.5096 8.33333 14.3018V20.6081C8.33333 21.0435 7.9804 21.3964 7.54504 21.3964C7.10969 21.3964 6.75676 21.0435 6.75676 20.6081V14.3018C6.75676 14.2492 6.74391 14.2116 6.73225 14.1892H3.85334C3.84168 14.2116 3.82883 14.2492 3.82883 14.3018V20.6081C3.82883 21.0435 3.4759 21.3964 3.04054 21.3964C2.60518 21.3964 2.25225 21.0435 2.25225 20.6081V14.3018Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 20.6081C0 20.1727 0.352929 19.8198 0.788288 19.8198H24.2117C24.6471 19.8198 25 20.1727 25 20.6081C25 21.0435 24.6471 21.3964 24.2117 21.3964H0.788288C0.352929 21.3964 0 21.0435 0 20.6081Z" />
                    </svg>
                    <span>Graduation Dynamics</span>
                </a>
                <a href="/admin/charts/IA" class="header-nav-item" title="Instructors Activity">
                    <svg width="25" height="25" viewBox="0 0 25 25">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 2.02206C6.71319 2.02206 2.02206 6.71319 2.02206 12.5C2.02206 18.2868 6.71319 22.9779 12.5 22.9779C18.2868 22.9779 22.9779 18.2868 22.9779 12.5C22.9779 6.71319 18.2868 2.02206 12.5 2.02206ZM0 12.5C0 5.59644 5.59644 0 12.5 0C19.4036 0 25 5.59644 25 12.5C25 19.4036 19.4036 25 12.5 25C5.59644 25 0 19.4036 0 12.5Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.60662 22.1507C5.60662 18.1551 8.62984 14.7978 12.5 14.7978C16.3702 14.7978 19.3934 18.1551 19.3934 22.1507H17.5551C17.5551 19.0396 15.229 16.636 12.5 16.636C9.77099 16.636 7.44485 19.0396 7.44485 22.1507H5.60662Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 8.36397C10.7233 8.36397 9.28309 9.80423 9.28309 11.5809C9.28309 13.3575 10.7233 14.7978 12.5 14.7978C14.2767 14.7978 15.7169 13.3575 15.7169 11.5809C15.7169 9.80423 14.2767 8.36397 12.5 8.36397ZM7.44485 11.5809C7.44485 8.789 9.70812 6.52574 12.5 6.52574C15.2919 6.52574 17.5551 8.789 17.5551 11.5809C17.5551 14.3728 15.2919 16.636 12.5 16.636C9.70812 16.636 7.44485 14.3728 7.44485 11.5809Z" />
                    </svg>
                    <span>Instructors Activity</span>
                </a>
            </div>
            <div class="nav-right-side">
                <% if(locals.user) { %>
                    <span class="admin-name"><%= user.name %></span>
                    <span class="admin-separator">|</span>
                    <% if(user.authString === "admin") { %>
                        <a href="/admin/super-admin" class="header-nav-item -no-margin" title="Super Admin">
                            <svg width="25" height="25" viewBox="0 0 512 512">
                                <path d="M495.9 166.6C499.2 175.2 496.4 184.9 489.6 191.2L446.3 230.6C447.4 238.9 448 247.4 448 256C448 264.6 447.4 273.1 446.3 281.4L489.6 320.8C496.4 327.1 499.2 336.8 495.9 345.4C491.5 357.3 486.2 368.8 480.2 379.7L475.5 387.8C468.9 398.8 461.5 409.2 453.4 419.1C447.4 426.2 437.7 428.7 428.9 425.9L373.2 408.1C359.8 418.4 344.1 427 329.2 433.6L316.7 490.7C314.7 499.7 307.7 506.1 298.5 508.5C284.7 510.8 270.5 512 255.1 512C241.5 512 227.3 510.8 213.5 508.5C204.3 506.1 197.3 499.7 195.3 490.7L182.8 433.6C167 427 152.2 418.4 138.8 408.1L83.14 425.9C74.3 428.7 64.55 426.2 58.63 419.1C50.52 409.2 43.12 398.8 36.52 387.8L31.84 379.7C25.77 368.8 20.49 357.3 16.06 345.4C12.82 336.8 15.55 327.1 22.41 320.8L65.67 281.4C64.57 273.1 64 264.6 64 256C64 247.4 64.57 238.9 65.67 230.6L22.41 191.2C15.55 184.9 12.82 175.3 16.06 166.6C20.49 154.7 25.78 143.2 31.84 132.3L36.51 124.2C43.12 113.2 50.52 102.8 58.63 92.95C64.55 85.8 74.3 83.32 83.14 86.14L138.8 103.9C152.2 93.56 167 84.96 182.8 78.43L195.3 21.33C197.3 12.25 204.3 5.04 213.5 3.51C227.3 1.201 241.5 0 256 0C270.5 0 284.7 1.201 298.5 3.51C307.7 5.04 314.7 12.25 316.7 21.33L329.2 78.43C344.1 84.96 359.8 93.56 373.2 103.9L428.9 86.14C437.7 83.32 447.4 85.8 453.4 92.95C461.5 102.8 468.9 113.2 475.5 124.2L480.2 132.3C486.2 143.2 491.5 154.7 495.9 166.6V166.6zM256 336C300.2 336 336 300.2 336 255.1C336 211.8 300.2 175.1 256 175.1C211.8 175.1 176 211.8 176 255.1C176 300.2 211.8 336 256 336z" />
                            </svg>
                        </a>
                    <% } else { %>
                        <span class="admin-email"><%= user.email.toLowerCase() %></span>
                    <% } %>
                <% } %>
            </div>

            
        </nav>      <!-- header-center-item -->
        <!-- SIGN OUT element -->
        <form class="header-right-item" action="/admin/logout" method="POST">
            <button type="submit">
                <svg width="25" height="21" viewBox="0 0 25 21">
                    <path d="M10.2041 18.8964C10.2041 18.939 10.2094 19.0454 10.22 19.2156C10.2307 19.3859 10.2333 19.5268 10.228 19.6386C10.2227 19.7503 10.2067 19.8753 10.1802 20.0136C10.1536 20.1519 10.1004 20.2557 10.0207 20.3248C9.94101 20.394 9.83206 20.4286 9.69388 20.4286H4.59184C3.32696 20.4286 2.24543 19.979 1.34726 19.08C0.449086 18.1809 0 17.0983 0 15.8321V4.59643C0 3.33028 0.449086 2.24767 1.34726 1.3486C2.24543 0.449535 3.32696 0 4.59184 0H9.69388C9.83206 0 9.95164 0.0505394 10.0526 0.151618C10.1536 0.252697 10.2041 0.372396 10.2041 0.510714C10.2041 0.553274 10.2094 0.659673 10.22 0.829911C10.2307 1.00015 10.2333 1.14113 10.228 1.25285C10.2227 1.36456 10.2067 1.48958 10.1802 1.6279C10.1536 1.76622 10.1004 1.86996 10.0207 1.93912C9.94101 2.00828 9.83206 2.04286 9.69388 2.04286H4.59184C3.89031 2.04286 3.28975 2.29289 2.79018 2.79297C2.2906 3.29304 2.04082 3.8942 2.04082 4.59643V15.8321C2.04082 16.5344 2.2906 17.1355 2.79018 17.6356C3.28975 18.1357 3.89031 18.3857 4.59184 18.3857H9.56633L9.74968 18.4017L9.93304 18.4496L10.0606 18.5373L10.1722 18.681L10.2041 18.8964ZM25 10.2143C25 10.4909 24.899 10.7303 24.6971 10.9325L16.0236 19.6146C15.8216 19.8168 15.5825 19.9179 15.3061 19.9179C15.0298 19.9179 14.7906 19.8168 14.5886 19.6146C14.3867 19.4125 14.2857 19.1731 14.2857 18.8964V14.3H7.14286C6.8665 14.3 6.62734 14.1989 6.42538 13.9968C6.22343 13.7946 6.12245 13.5552 6.12245 13.2786V7.15C6.12245 6.87336 6.22343 6.63397 6.42538 6.43181C6.62734 6.22965 6.8665 6.12857 7.14286 6.12857H14.2857V1.53214C14.2857 1.25551 14.3867 1.01611 14.5886 0.813951C14.7906 0.611793 15.0298 0.510714 15.3061 0.510714C15.5825 0.510714 15.8216 0.611793 16.0236 0.813951L24.6971 9.49609C24.899 9.69825 25 9.93765 25 10.2143Z" />
                </svg>
            </button>
        </form>     <!-- header-right-item -->
    </header>


    <div class="dummy-header"></div>


    <div class="main-admin-profile-box">
        <div class="main-admin-profile-left">

            <!-- available only on small screens -->
            <div class="main-admin-auth-box">
                <div class="adm-auth-box">
                    <p>Auth :<span class="adm-prop"><%= user.authString.toUpperCase() %></span></p>
                    <p>Location :<span class="adm-prop"><%= user.location.toUpperCase() %></span></p>
                </div>
                <a href="https://boltcdl.com" class="bolt-ref">&copy BOLT</a>
            </div>      <!-- main-admin-auth-box -->

            <h2 class="welcome-box">
                <span class="welcome">Welcome to</span>
                <span class="school-title">BOLT Trucking School</span>
            </h2>

            <nav class="admin-menu-box">
                <a class="admin-menu-item" href="/admin/user-area">
                    <svg width="20" height="17" viewBox="0 0 20 17">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10 3.75C8.61929 3.75 7.5 4.86929 7.5 6.25C7.5 7.63071 8.61929 8.75 10 8.75C11.3807 8.75 12.5 7.63071 12.5 6.25C12.5 4.86929 11.3807 3.75 10 3.75ZM6.25 6.25C6.25 4.17893 7.92893 2.5 10 2.5C12.0711 2.5 13.75 4.17893 13.75 6.25C13.75 8.32107 12.0711 10 10 10C7.92893 10 6.25 8.32107 6.25 6.25Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.46447 12.0895C7.40215 11.1518 8.67392 10.625 10 10.625C11.3261 10.625 12.5979 11.1518 13.5355 12.0895C14.4732 13.0271 15 14.2989 15 15.625C15 15.9702 14.7202 16.25 14.375 16.25H5.625C5.45924 16.25 5.30027 16.1842 5.18306 16.0669C5.06585 15.9497 5 15.7908 5 15.625C5 14.2989 5.52678 13.0271 6.46447 12.0895ZM10 11.875C9.00544 11.875 8.05161 12.2701 7.34835 12.9734C6.79417 13.5275 6.43135 14.2373 6.30243 15H13.6976C13.5686 14.2373 13.2058 13.5275 12.6517 12.9734C11.9484 12.2701 10.9946 11.875 10 11.875Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.4754 0.323909C14.0594 0.0640311 14.7001 -0.0422511 15.3368 0.0151537C15.9734 0.0725585 16.5848 0.291745 17.1129 0.6519C17.641 1.01205 18.0682 1.50122 18.3541 2.07295C18.64 2.64468 18.7749 3.27999 18.7462 3.91856C18.7175 4.55712 18.526 5.17775 18.1899 5.72149C17.8539 6.26524 17.3844 6.71406 16.8261 7.02533C16.2678 7.33661 15.6392 7.5 15 7.5C14.6548 7.5 14.375 7.22018 14.375 6.875C14.375 6.52982 14.6548 6.25 15 6.25C15.4261 6.25 15.8452 6.14107 16.2174 5.93355C16.5896 5.72604 16.9026 5.42683 17.1266 5.06433C17.3507 4.70183 17.4783 4.28808 17.4975 3.86237C17.5166 3.43666 17.4266 3.01312 17.2361 2.63197C17.0455 2.25081 16.7606 1.9247 16.4086 1.6846C16.0565 1.4445 15.6489 1.29837 15.2245 1.2601C14.8001 1.22183 14.3729 1.29269 13.9836 1.46594C13.5943 1.63919 13.2557 1.90909 13 2.25C12.7929 2.52614 12.4011 2.58211 12.125 2.375C11.8489 2.16789 11.7929 1.77614 12 1.5C12.3835 0.988631 12.8914 0.583786 13.4754 0.323909Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.375 8.75C14.375 8.40482 14.6548 8.125 15 8.125C16.3261 8.125 17.5979 8.65179 18.5355 9.58947C19.4732 10.5272 20 11.7989 20 13.125C20 13.4702 19.7202 13.75 19.375 13.75H15.625C15.2798 13.75 15 13.4702 15 13.125C15 12.7798 15.2798 12.5 15.625 12.5H18.6976C18.5686 11.7373 18.2058 11.0275 17.6517 10.4734C16.9484 9.77009 15.9946 9.375 15 9.375C14.6548 9.375 14.375 9.09518 14.375 8.75Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.66323 0.0151537C5.29986 -0.0422511 5.94059 0.0640311 6.52459 0.323909C7.10859 0.583786 7.61647 0.988631 8 1.5C8.20711 1.77614 8.15114 2.16789 7.875 2.375C7.59886 2.58211 7.20711 2.52614 7 2.25C6.74432 1.90909 6.40573 1.63919 6.0164 1.46594C5.62706 1.29269 5.19991 1.22183 4.77549 1.2601C4.35107 1.29837 3.94347 1.4445 3.59141 1.6846C3.23935 1.9247 2.95451 2.25081 2.76393 2.63197C2.57336 3.01312 2.48337 3.43666 2.50253 3.86237C2.52168 4.28808 2.64934 4.70183 2.87337 5.06433C3.09741 5.42683 3.41039 5.72604 3.78259 5.93355C4.15479 6.14107 4.57386 6.25 5 6.25C5.34518 6.25 5.625 6.52982 5.625 6.875C5.625 7.22018 5.34518 7.5 5 7.5C4.36079 7.5 3.73218 7.33661 3.17388 7.02533C2.61558 6.71406 2.14611 6.26524 1.81006 5.72149C1.47401 5.17775 1.28252 4.55712 1.25379 3.91856C1.22506 3.27999 1.36003 2.64468 1.6459 2.07295C1.93176 1.50122 2.35903 1.01205 2.88712 0.6519C3.41521 0.291745 4.0266 0.0725585 4.66323 0.0151537Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.46447 9.58947C2.40215 8.65179 3.67392 8.125 5 8.125C5.34518 8.125 5.625 8.40482 5.625 8.75C5.625 9.09518 5.34518 9.375 5 9.375C4.00544 9.375 3.05161 9.77009 2.34835 10.4734C1.79417 11.0275 1.43135 11.7373 1.30243 12.5H4.375C4.72018 12.5 5 12.7798 5 13.125C5 13.4702 4.72018 13.75 4.375 13.75H0.625C0.45924 13.75 0.300268 13.6842 0.183058 13.5669C0.065848 13.4497 0 13.2908 0 13.125C0 11.7989 0.526784 10.5272 1.46447 9.58947Z" />
                    </svg>
                    <span class="menu-item">Users Area</span>
                </a>
                <a class="admin-menu-item" href="/admin/student/list">
                    <svg width="20" height="16" viewBox="0 0 20 16">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.70588 0.0743034C9.88971 -0.0247678 10.1103 -0.0247678 10.2941 0.0743034L19.6691 5.12694C19.8728 5.2367 20 5.45096 20 5.68421C20 5.91746 19.8728 6.13172 19.6691 6.24149L10.2941 11.2941C10.1103 11.3932 9.88971 11.3932 9.70588 11.2941L0.330882 6.24149C0.127218 6.13172 0 5.91746 0 5.68421C0 5.45096 0.127218 5.2367 0.330882 5.12694L9.70588 0.0743034ZM1.95312 5.68421L10 10.0211L18.0469 5.68421L10 1.34737L1.95312 5.68421Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.375 7.07368C4.72018 7.07368 5 7.35645 5 7.70526V12C5 12.1574 5.07402 12.3937 5.30432 12.6874C5.5306 12.976 5.87819 13.2801 6.33718 13.5584C7.25456 14.1146 8.54947 14.5263 10 14.5263C11.4505 14.5263 12.7454 14.1146 13.6628 13.5584C14.1218 13.2801 14.4694 12.976 14.6957 12.6874C14.926 12.3937 15 12.1574 15 12V7.70526C15 7.35645 15.2798 7.07368 15.625 7.07368C15.9702 7.07368 16.25 7.35645 16.25 7.70526V12C16.25 12.5374 16.0115 13.0432 15.6754 13.4718C15.3353 13.9056 14.8626 14.3041 14.3059 14.6416C13.1921 15.3169 11.6745 15.7895 10 15.7895C8.32553 15.7895 6.80794 15.3169 5.69407 14.6416C5.13743 14.3041 4.66471 13.9056 4.32459 13.4718C3.98848 13.0432 3.75 12.5374 3.75 12V7.70526C3.75 7.35645 4.02982 7.07368 4.375 7.07368Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M19.375 5.05263C19.7202 5.05263 20 5.3354 20 5.68421V13.8947C20 14.2435 19.7202 14.5263 19.375 14.5263C19.0298 14.5263 18.75 14.2435 18.75 13.8947V5.68421C18.75 5.3354 19.0298 5.05263 19.375 5.05263Z" />
                    </svg>
                    <span class="menu-item">Student List</span>
                </a>
                <a class="admin-menu-item" href="/admin/student">
                    <svg width="16" height="16" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.8629 9.3299C12.0752 9.09638 12.4366 9.07917 12.6701 9.29146L15.813 12.1486C15.9321 12.2569 16 12.4104 16 12.5714C16 12.7324 15.9321 12.886 15.813 12.9943L12.6701 15.8514C12.4366 16.0637 12.0752 16.0465 11.8629 15.813C11.6506 15.5794 11.6678 15.218 11.9013 15.0057L14.5791 12.5714L11.9013 10.1371C11.6678 9.92482 11.6506 9.56342 11.8629 9.3299Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 12.5714C0 12.2558 0.255837 12 0.571429 12H15.4286C15.7442 12 16 12.2558 16 12.5714C16 12.887 15.7442 13.1429 15.4286 13.1429H0.571429C0.255837 13.1429 0 12.887 0 12.5714Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.13711 0.187048C4.3494 0.420567 4.33219 0.781965 4.09867 0.994255L1.42092 3.42857L4.09867 5.86289C4.33219 6.07518 4.3494 6.43658 4.13711 6.6701C3.92482 6.90362 3.56342 6.92083 3.3299 6.70854L0.187044 3.8514C0.0679159 3.7431 0 3.58957 0 3.42857C0 3.26758 0.0679159 3.11405 0.187044 3.00575L3.3299 0.14861C3.56342 -0.0636799 3.92482 -0.0464705 4.13711 0.187048Z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 3.42857C0 3.11298 0.255837 2.85715 0.571429 2.85715H15.4286C15.7442 2.85715 16 3.11298 16 3.42857C16 3.74416 15.7442 4 15.4286 4H0.571429C0.255837 4 0 3.74416 0 3.42857Z" />
                    </svg>
                    <span class="menu-item">INs</span>
                </a>
                <a class="admin-menu-item" href="/admin/student/expulsion">
                    <svg width="20" height="20" viewBox="0 0 20 20">
                        <path d="M10 20C7.34783 20 4.8043 18.9464 2.92893 17.0711C1.05357 15.1957 0 12.6522 0 10C0 7.34783 1.05357 4.8043 2.92893 2.92893C4.8043 1.05357 7.34783 0 10 0C10.1922 0 10.3765 0.0763455 10.5124 0.212241C10.6483 0.348137 10.7246 0.532452 10.7246 0.724638C10.7246 0.916824 10.6483 1.10114 10.5124 1.23703C10.3765 1.37293 10.1922 1.44928 10 1.44928C7.73221 1.44928 5.5573 2.35015 3.95372 3.95372C2.35015 5.5573 1.44928 7.73221 1.44928 10C1.44928 12.2678 2.35015 14.4427 3.95372 16.0463C5.5573 17.6498 7.73221 18.5507 10 18.5507C10.1922 18.5507 10.3765 18.6271 10.5124 18.763C10.6483 18.8989 10.7246 19.0832 10.7246 19.2754C10.7246 19.4675 10.6483 19.6519 10.5124 19.7878C10.3765 19.9237 10.1922 20 10 20Z" />
                        <path d="M18.92 10.7246H8.67246C8.48027 10.7246 8.29596 10.6483 8.16006 10.5124C8.02417 10.3765 7.94782 10.1922 7.94782 10C7.94782 9.80781 8.02417 9.6235 8.16006 9.4876C8.29596 9.35171 8.48027 9.27536 8.67246 9.27536H18.92C19.1122 9.27536 19.2965 9.35171 19.4324 9.4876C19.5683 9.6235 19.6446 9.80781 19.6446 10C19.6446 10.1922 19.5683 10.3765 19.4324 10.5124C19.2965 10.6483 19.1122 10.7246 18.92 10.7246Z" />
                        <path d="M15.2151 15.1815C15.0717 15.1815 14.9316 15.139 14.8124 15.0594C14.6932 14.9797 14.6003 14.8666 14.5455 14.7341C14.4906 14.6017 14.4763 14.456 14.5042 14.3154C14.5322 14.1748 14.6012 14.0457 14.7026 13.9444L18.4035 10.2429C18.467 10.1779 18.5026 10.0906 18.5026 9.99971C18.5026 9.90881 18.467 9.82152 18.4035 9.75652L14.7026 6.05797C14.6352 5.99068 14.5817 5.91076 14.5452 5.82279C14.5086 5.73481 14.4898 5.64051 14.4897 5.54526C14.4896 5.45 14.5083 5.35566 14.5447 5.26763C14.5811 5.17959 14.6344 5.09959 14.7017 5.03218C14.769 4.96476 14.849 4.91127 14.9369 4.87474C15.0249 4.83821 15.1192 4.81937 15.2145 4.81929C15.3097 4.81921 15.4041 4.83789 15.4921 4.87427C15.5801 4.91065 15.6601 4.96401 15.7275 5.03131L19.4261 8.73218C19.7613 9.06896 19.9495 9.52481 19.9495 10C19.9495 10.4752 19.7613 10.931 19.4261 11.2678L15.7275 14.9693C15.6603 15.0367 15.5804 15.0901 15.4925 15.1265C15.4045 15.1629 15.3103 15.1816 15.2151 15.1815Z" />
                    </svg>
                    <span class="menu-item">Expulsion</span>
                </a>
                <a class="admin-menu-item" href="/admin/schedule">
                    <svg width="20" height="20" viewBox="0 0 20 20">
                        <path d="M16.1538 20H3.84615C2.82609 20 1.84781 19.5948 1.12651 18.8735C0.405219 18.1522 0 17.1739 0 16.1538V5.38462C0 4.36455 0.405219 3.38627 1.12651 2.66497C1.84781 1.94368 2.82609 1.53846 3.84615 1.53846H16.1538C17.1739 1.53846 18.1522 1.94368 18.8735 2.66497C19.5948 3.38627 20 4.36455 20 5.38462V16.1538C20 17.1739 19.5948 18.1522 18.8735 18.8735C18.1522 19.5948 17.1739 20 16.1538 20ZM3.84615 3.07692C3.23412 3.07692 2.64715 3.32005 2.21437 3.75283C1.78159 4.18561 1.53846 4.77258 1.53846 5.38462V16.1538C1.53846 16.7659 1.78159 17.3529 2.21437 17.7856C2.64715 18.2184 3.23412 18.4615 3.84615 18.4615H16.1538C16.7659 18.4615 17.3529 18.2184 17.7856 17.7856C18.2184 17.3529 18.4615 16.7659 18.4615 16.1538V5.38462C18.4615 4.77258 18.2184 4.18561 17.7856 3.75283C17.3529 3.32005 16.7659 3.07692 16.1538 3.07692H3.84615Z" />
                        <path d="M19.2308 7.69231H0.769231C0.565218 7.69231 0.369561 7.61126 0.225302 7.46701C0.0810437 7.32275 0 7.12709 0 6.92308C0 6.71906 0.0810437 6.52341 0.225302 6.37915C0.369561 6.23489 0.565218 6.15385 0.769231 6.15385H19.2308C19.4348 6.15385 19.6304 6.23489 19.7747 6.37915C19.919 6.52341 20 6.71906 20 6.92308C20 7.12709 19.919 7.32275 19.7747 7.46701C19.6304 7.61126 19.4348 7.69231 19.2308 7.69231Z" />
                        <path d="M6.15385 4.61538C5.94983 4.61538 5.75418 4.53434 5.60992 4.39008C5.46566 4.24582 5.38462 4.05017 5.38462 3.84615V0.769231C5.38462 0.565218 5.46566 0.369561 5.60992 0.225302C5.75418 0.0810437 5.94983 0 6.15385 0C6.35786 0 6.55352 0.0810437 6.69777 0.225302C6.84203 0.369561 6.92308 0.565218 6.92308 0.769231V3.84615C6.92308 4.05017 6.84203 4.24582 6.69777 4.39008C6.55352 4.53434 6.35786 4.61538 6.15385 4.61538Z" />
                        <path d="M13.8462 4.61538C13.6421 4.61538 13.4465 4.53434 13.3022 4.39008C13.158 4.24582 13.0769 4.05017 13.0769 3.84615V0.769231C13.0769 0.565218 13.158 0.369561 13.3022 0.225302C13.4465 0.0810437 13.6421 0 13.8462 0C14.0502 0 14.2458 0.0810437 14.3901 0.225302C14.5343 0.369561 14.6154 0.565218 14.6154 0.769231V3.84615C14.6154 4.05017 14.5343 4.24582 14.3901 4.39008C14.2458 4.53434 14.0502 4.61538 13.8462 4.61538Z" />
                    </svg>
                    <span class="menu-item">Schedule</span>
                </a>
                <a class="admin-menu-item" href="/admin/student/skills-test">
                    <svg width="21" height="20" viewBox="0 0 21 20">
                        <path d="M20.5681 7.45613C20.3894 6.94065 19.9307 6.56323 19.3784 6.48129L14.0068 5.68258L11.6719 0.834839C11.4261 0.325806 10.9003 0 10.3223 0C9.74421 0 9.2184 0.325806 8.97259 0.834839L6.63775 5.68258L1.2655 6.48129C0.713883 6.56323 0.255173 6.94065 0.0771088 7.45613C-0.100311 7.9729 0.0338831 8.54193 0.42356 8.93032L4.36033 12.8606L3.44743 18.3129C3.35453 18.8619 3.59259 19.4129 4.05904 19.7342C4.31517 19.9103 4.61646 20 4.91775 20C5.1655 20 5.41388 19.9394 5.63904 19.8187L10.3223 17.2974L15.0061 19.8187C15.2313 19.9394 15.4797 20 15.7268 20C16.0281 20 16.3294 19.9103 16.5861 19.7342C17.0526 19.4129 17.2894 18.8619 17.1971 18.3129L16.2836 12.8606L20.2216 8.93032C20.6107 8.54129 20.7442 7.97226 20.5681 7.45613ZM15.2178 11.8471C14.8874 12.1761 14.7378 12.64 14.8132 13.0948L15.7268 18.5471L11.0429 16.0271C10.8184 15.9058 10.5707 15.8458 10.3216 15.8458C10.0739 15.8458 9.8255 15.9065 9.60098 16.0271L4.91711 18.5471L5.83066 13.0948C5.90679 12.64 5.75711 12.1761 5.42679 11.8471L1.49001 7.91677L6.86163 7.11677C7.35259 7.04387 7.77517 6.73677 7.98614 6.29871L10.3223 1.45226L12.6578 6.29935C12.8694 6.73742 13.2913 7.04387 13.7816 7.11742L19.1545 7.91742L15.2178 11.8471Z" />
                    </svg>
                    <span class="menu-item">Skills Test</span>
                </a>
                <a class="admin-menu-item" href="/admin/student/wbdrs">
                    <svg width="16" height="16" viewBox="0 0 16 16">
                        <path d="M15.3846 2H0.615385C0.452174 2 0.295649 1.89464 0.180242 1.70711C0.064835 1.51957 0 1.26522 0 1C0 0.734784 0.064835 0.48043 0.180242 0.292893C0.295649 0.105357 0.452174 0 0.615385 0H15.3846C15.5478 0 15.7044 0.105357 15.8198 0.292893C15.9352 0.48043 16 0.734784 16 1C16 1.26522 15.9352 1.51957 15.8198 1.70711C15.7044 1.89464 15.5478 2 15.3846 2Z" />
                        <path d="M15.3846 9H0.615385C0.452174 9 0.295649 8.89464 0.180242 8.70711C0.064835 8.51957 0 8.26522 0 8C0 7.73478 0.064835 7.48043 0.180242 7.29289C0.295649 7.10536 0.452174 7 0.615385 7H15.3846C15.5478 7 15.7044 7.10536 15.8198 7.29289C15.9352 7.48043 16 7.73478 16 8C16 8.26522 15.9352 8.51957 15.8198 8.70711C15.7044 8.89464 15.5478 9 15.3846 9Z" />
                        <path d="M15.3846 16H0.615385C0.452174 16 0.295649 15.8946 0.180242 15.7071C0.064835 15.5196 0 15.2652 0 15C0 14.7348 0.064835 14.4804 0.180242 14.2929C0.295649 14.1054 0.452174 14 0.615385 14H15.3846C15.5478 14 15.7044 14.1054 15.8198 14.2929C15.9352 14.4804 16 14.7348 16 15C16 15.2652 15.9352 15.5196 15.8198 15.7071C15.7044 15.8946 15.5478 16 15.3846 16Z" />
                    </svg>                        
                    <span class="menu-item">WBDRS</span>
                </a>
                <a class="admin-menu-item" href="/catalog">
                    <svg width="18" height="18" viewBox="0 0 18 18">
                        <path d="M9.01267 8.09964C8.77431 8.09964 8.54571 8.19446 8.37717 8.36323C8.20862 8.53201 8.11393 8.76092 8.11393 8.9996V11.6995C8.11393 11.9382 8.20862 12.1671 8.37717 12.3358C8.54571 12.5046 8.77431 12.5994 9.01267 12.5994C9.25103 12.5994 9.47962 12.5046 9.64817 12.3358C9.81671 12.1671 9.9114 11.9382 9.9114 11.6995V8.9996C9.9114 8.76092 9.81671 8.53201 9.64817 8.36323C9.47962 8.19446 9.25103 8.09964 9.01267 8.09964ZM9.01267 5.39976C8.83491 5.39976 8.66115 5.45254 8.51336 5.55143C8.36556 5.65032 8.25037 5.79087 8.18234 5.95532C8.11432 6.11977 8.09652 6.30072 8.1312 6.47529C8.16588 6.64987 8.25148 6.81023 8.37717 6.93609C8.50286 7.06195 8.66299 7.14766 8.83733 7.18239C9.01167 7.21711 9.19238 7.19929 9.3566 7.13118C9.52082 7.06306 9.66118 6.94771 9.75994 6.79971C9.85869 6.65171 9.9114 6.47772 9.9114 6.29972C9.9114 6.06104 9.81671 5.83213 9.64817 5.66335C9.47962 5.49458 9.25103 5.39976 9.01267 5.39976ZM9.01267 0C7.83243 0 6.66376 0.232782 5.57336 0.685054C4.48297 1.13733 3.49221 1.80023 2.65766 2.63592C0.972209 4.32368 0.025332 6.61276 0.025332 8.9996C0.0174752 11.0777 0.736044 13.0931 2.05647 14.6963L0.259003 16.4963C0.134297 16.6228 0.049819 16.7835 0.0162296 16.9581C-0.0173597 17.1327 0.00144417 17.3133 0.0702687 17.4772C0.144916 17.6392 0.265927 17.7752 0.417941 17.8682C0.569955 17.9611 0.746117 18.0067 0.924065 17.9992H9.01267C11.3963 17.9992 13.6822 17.051 15.3677 15.3633C17.0531 13.6755 18 11.3864 18 8.9996C18 6.61276 17.0531 4.32368 15.3677 2.63592C13.6822 0.94817 11.3963 0 9.01267 0ZM9.01267 16.1993H3.09001L3.92583 15.3623C4.01075 15.279 4.07831 15.1796 4.12459 15.0699C4.17088 14.9602 4.19496 14.8424 4.19545 14.7233C4.19208 14.486 4.09517 14.2595 3.92583 14.0934C2.74902 12.9163 2.01618 11.367 1.85218 9.70948C1.68818 8.05199 2.10315 6.38882 3.02641 5.00335C3.94966 3.61787 5.32408 2.59581 6.91549 2.11128C8.50689 1.62676 10.2168 1.70975 11.754 2.34612C13.2912 2.98249 14.5604 4.13286 15.3455 5.60125C16.1307 7.06964 16.3831 8.7652 16.0597 10.399C15.7364 12.0329 14.8574 13.5039 13.5724 14.5616C12.2874 15.6192 10.676 16.198 9.01267 16.1993Z" />
                    </svg>
                    <span class="menu-item">Catalog</span>
                </a>
            </nav>      <!-- admin-menu-box -->

            <!-- each location has own color for Chart -->
            <% const colorArray = ['#AAAAAA', '#F27878', '#FDC865', '#A2D092', '#F9E960', '#B6D363', '#9CD9E7', '#80B4D9', '#C9A7EB', '#F29D78', '#92D0C5', '#9CA5F4', '#D6A5D4', '#ECBBCC'] %>


            <div class="adm-desktop">
                <% if(user && analyticsArray) { %>
                    <div class="chart-title-box">
                        <h3 class="chart-title">New Students Enrollment Chart</h3>
                    </div>
                    <div class="analythicsChart">
                        <% analyticsArray.forEach(item => { %>
                            <div class="chart-column" data-key="<%= item.month %>.<%= item.year %>" data-value="<%= item.newStudents %>">
                                <% if(item.newStudents > 0) { %>
                                    <% item.locations.forEach((location, index) => { %>
                                        <% if(item.locationValues[index] > 0) { %>
                                            <% let perc = item.locationValues[index] * 100 / item.newStudents %>
                                            <% let href = `/admin/student/shortlist?year=${item.year}&month=${item.month}&location=${location}` %>
                                            <% let title = `${location} - ${item.locationValues[index]}` %>
                                            <a href='<%= href %>' class="chart-sub-column" data-value="<%= item.locationValues[index] %>" style="--h:<%= perc %>%; --c:<%= colorArray[index - 1] %>" title="<%= title %>"></a>  <!-- use index-1 because 0th el. is 'All' -->
                                        <% } %>
                                    <% }) %>
                                <% } %>
                            </div>
                        <% }) %>
                    </div>  <!-- analythicsChart -->
                <% } %>
            </div>  <!-- desktop -->


        </div>      <!-- main-admin-profile-left -->


        <div class="main-admin-profile-right">
            <div class="adm-auth-box">
                <p>Auth :<span class="adm-prop"><%= user.authString.toUpperCase() %></span></p>
                <p>Location :<span class="adm-prop"><%= user.location.toUpperCase() %></span></p>
            </div>
            <a href="https://boltcdl.com" class="bolt-ref">&copy BOLT</a>
        </div>      <!-- main-admin-profile-right -->

    </div>      <!-- main-admin-profile-box -->






    




    <script defer>

        // @drawing chart
        // get chart div height depending on vh
        const chart = document.querySelector(".analythicsChart")

        if (chart) {
            const maxHeight = parseFloat(getComputedStyle(chart).height)
            const cols = document.querySelectorAll(".chart-column")
            if (maxHeight && cols) {
                // find max value
                let max = 0
                for (let i=0; i<cols.length; i++) {
                    if (parseInt(cols[i].dataset.value) > max) { max = parseInt(cols[i].dataset.value) }
                }
                if (max) {
                    // setting values espectively to max                    
                    for (let i=0; i<cols.length; i++) {
                        cols[i].style.height = `${ parseInt(cols[i].dataset.value) * maxHeight / max }px`
                    }
                }
            }
        }

    </script>

</body>
</html>