<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>BoltCDL | Student Profile</title>

    <link rel="shortcut icon" href="/static/images/thumb.png">
    <link rel="stylesheet" href="/users/home.css">
</head>
<body>

   
    <!-- TOOLS and constants -->
    <%
        const usCurrencyFormat = new Intl.NumberFormat('us-US', { style: 'currency', currency: 'USD' })
        const hello = `Hello${locals.user ? ',' : '!'}`
        const prompt = locals.user ? `${locals.user.name}` : ''
        const balance = locals.user.balance = !undefined ? `${usCurrencyFormat.format(user.balance)}` : 'no data'

        function formatDate(textDate) { return textDate ? new Date(textDate).toLocaleDateString('en-US', { timeZone: 'America/Los_Angeles' }) : '-' }
        function formatDateTime(textDate) { return textDate ? new Date(textDate).toLocaleDateString('en-US', { timeZone: 'America/Los_Angeles' })+' - '+new Date(textDate).toLocaleTimeString('en-US', { timeZone: 'America/Los_Angeles', hour24: false }) : '-' }
        function formatTime(textDate) { return textDate ? new Date(textDate).toLocaleTimeString('en-US', { timeZone: 'America/Los_Angeles', hour12: false, hour: '2-digit', minute:'2-digit'}) : 'NO' }

        function strTTT(TTT) { const H = Math.trunc(TTT); const M = Math.round(60*(TTT % 1)); return M > 9 ? `${H}h:${M}m` : `${H}h:0${M}m` }
        function normTTT(TTT) { return `${ Math.round(TTT * 100) / 100 }h` }
        function normCOORD(latlon) { return Math.round(latlon * 1000) / 1000 }
        
        function leadingZero(n) { return n < 10 ? `0${n}` : `${n}` }
    %>

    <header>
        <a href="https://www.boltcdl.com" class="left-box">
            <img src="/static/images/logo-small.png" alt="Bolt small logo">
            <span>Home</span>
        </a>
        <div class="center-box">
            <p class="welcome-prompt">
                <span class="welcome-text"><%= hello %></span>
                <span class="welcome-header"><%= prompt %></span>
            </p>
            <p class="welcome-debt">
                <span class="welcome-text -hide-if-450">Balance :</span>
                <span class="welcome-header"><%= balance %></span>
            </p>
        </div>
        <form class="right-box" action="/user/logout" method="POST">
            <button type="submit">
                <svg class="btn-ico -sign-out" viewBox="0 0 25 21">
                    <path d="M10.2041 18.8964C10.2041 18.939 10.2094 19.0454 10.22 19.2156C10.2307 19.3859 10.2333 19.5268 10.228 19.6386C10.2227 19.7503 10.2067 19.8753 10.1802 20.0136C10.1536 20.1519 10.1004 20.2557 10.0207 20.3248C9.94101 20.394 9.83206 20.4286 9.69388 20.4286H4.59184C3.32696 20.4286 2.24543 19.979 1.34726 19.08C0.449086 18.1809 0 17.0983 0 15.8321V4.59643C0 3.33028 0.449086 2.24767 1.34726 1.3486C2.24543 0.449535 3.32696 0 4.59184 0H9.69388C9.83206 0 9.95164 0.0505394 10.0526 0.151618C10.1536 0.252697 10.2041 0.372396 10.2041 0.510714C10.2041 0.553274 10.2094 0.659673 10.22 0.829911C10.2307 1.00015 10.2333 1.14113 10.228 1.25285C10.2227 1.36456 10.2067 1.48958 10.1802 1.6279C10.1536 1.76622 10.1004 1.86996 10.0207 1.93912C9.94101 2.00828 9.83206 2.04286 9.69388 2.04286H4.59184C3.89031 2.04286 3.28975 2.29289 2.79018 2.79297C2.2906 3.29304 2.04082 3.8942 2.04082 4.59643V15.8321C2.04082 16.5344 2.2906 17.1355 2.79018 17.6356C3.28975 18.1357 3.89031 18.3857 4.59184 18.3857H9.56633L9.74968 18.4017L9.93304 18.4496L10.0606 18.5373L10.1722 18.681L10.2041 18.8964ZM25 10.2143C25 10.4909 24.899 10.7303 24.6971 10.9325L16.0236 19.6146C15.8216 19.8168 15.5825 19.9179 15.3061 19.9179C15.0298 19.9179 14.7906 19.8168 14.5886 19.6146C14.3867 19.4125 14.2857 19.1731 14.2857 18.8964V14.3H7.14286C6.8665 14.3 6.62734 14.1989 6.42538 13.9968C6.22343 13.7946 6.12245 13.5552 6.12245 13.2786V7.15C6.12245 6.87336 6.22343 6.63397 6.42538 6.43181C6.62734 6.22965 6.8665 6.12857 7.14286 6.12857H14.2857V1.53214C14.2857 1.25551 14.3867 1.01611 14.5886 0.813951C14.7906 0.611793 15.0298 0.510714 15.3061 0.510714C15.5825 0.510714 15.8216 0.611793 16.0236 0.813951L24.6971 9.49609C24.899 9.69825 25 9.93765 25 10.2143Z" />
                </svg>
            </button>
        </form>
    </header>


    <div class="dummy-header">Dummy</div>

    
    <div class="profile-box">
        <% if (!locals.user) { %>
            <h2 class="no-user-issue">No info about user has been found...</h2>
            <h3 class="no-user-issue">try to login please properly</h3>
        <% } else { %>
            <!-- title-box -->
            <section class="title-box">
                <h1 class="main-title">
                    <span class="main-text">Welcome to</span>
                    <span class="main-bold">BOLT Trucking School</span>
                </h1>
                <a href="tel:8338676235" class="phone-box">
                    <svg class="main-phone-ico" width="28" height="28" viewBox="0 0 28 28" fill="none">
                        <path d="M16.7129 19.3309C16.7129 19.3309 18.8184 18.1256 19.3696 17.8359C19.9192 17.5453 20.4886 17.4719 20.8344 17.6831C21.358 18.0034 25.7552 20.9284 26.1254 21.1873C26.4956 21.4468 26.674 22.1878 26.1649 22.9137C25.6579 23.6397 23.319 26.5101 22.3278 26.4794C21.3352 26.4471 17.2079 26.3567 9.42508 18.5717C1.6438 10.7894 1.55176 6.66114 1.52004 5.66846C1.48832 4.6763 4.35872 2.33682 5.08464 1.8293C5.8116 1.3223 6.55364 1.51314 6.81156 1.86986C7.10484 2.27598 9.99604 6.65906 10.3143 7.16138C10.5322 7.50458 10.4521 8.0771 10.1614 8.62726C9.87228 9.17846 8.66692 11.2839 8.66692 11.2839C8.66692 11.2839 9.5166 12.7332 12.3901 15.6062C15.2642 18.4797 16.7129 19.3309 16.7129 19.3309Z" stroke="#9C9C9C" stroke-width="2" stroke-miterlimit="10" />
                    </svg>
                    <span class="main-phone">833-867-6235</span>
                </a>
            </section>      <!-- title-box -->

            <!-- forms-box -->
            <div class="forms-box">
                <h3 class="small-block-title">Applicants Area</h3>
                <% if(locals.user.token === 'verified') { %>     <!-- if email is verified, then show forms -->
                    <% if (locals.user.dataCollection) { %>
                        <a class="form-done" href="/user/print-form/1">STUDENT DATA COLLECTION FORM</a>
                        <% if (locals.user.application) { %>
                            <a class="form-done" href="/user/print-form/2">APPLICATION FOR ENROLLMENT</a>
                            <% if (locals.user.agreement) { %>
                                <a class="form-done" href="/user/print-form/3">ENROLLMENT AGREEMENT</a>
                            <% } else { %>
                                <a class="form-todo" href="/user/form3">ENROLLMENT AGREEMENT</a>
                            <% } %>
                        <% } else { %>
                                <a class="form-todo" href="/user/form2">APPLICATION FOR ENROLLMENT</a>
                                <a class="form-not-done">ENROLLMENT AGREEMENT</a>
                        <% } %>
                    <% } else { %>
                        <a class="form-todo" href="/user/form1">STUDENT DATA COLLECTION FORM</a>
                        <a class="form-not-done">APPLICATION FOR ENROLLMENT</a>
                        <a class="form-not-done">ENROLLMENT AGREEMENT</a>
                    <% } %>
                <% } else { %>      <!-- email is NOT verified, show warning -->
                    <a class="form-not-done">STUDENT DATA COLLECTION FORM</a>
                    <a class="form-not-done">APPLICATION FOR ENROLLMENT</a>
                    <a class="form-not-done">ENROLLMENT AGREEMENT</a>
                <% } %>
            </div>   <!-- forms-box -->

            <% if(locals.user.token !== 'verified') { %>
                <div class="email-not-verified-box">
                    <span class="block-value">Enrollment forms cannot be available because your email still stays unverified. Please find our verification letter among your incoming emails (check spam folder, if needed) and stick with instructions given in it. Or you can generate one more verification letter, but be aware that only last generated will be valid one.</span>
                </div>
            <% } %>

            <!-- profile-info-box -->
            <div class="profile-info-box">
                <section class="profile-info-left">
                    <h3 class="block-title">Profile INFO</h3>
                    <p class="block-item">
                        <span class="block-key">User Nickname</span>
                        <span class="block-value"><%= user.name %></span>
                    </p>
                    <p class="block-item">
                        <span class="block-key">Profile Created</span>
                        <span class="block-value"><%= new Date(user.created).toLocaleDateString('en-US', { timeZone: 'America/Los_Angeles' }) %> • <%= new Date(user.created).toLocaleTimeString('en-US', { timeZone: 'America/Los_Angeles' }) %></span>
                    </p>
                    <p class="block-item">
                        <span class="block-key">Email</span>
                        <span class="block-value"><%= user.email %></span>
                    </p>
                    <% if(!user.token || user.token === 'not sent') { %>
                        <p class="block-item">
                            <span class="block-key">Authorized</span>
                            <span class="block-value">Your email is not verified</span>
                        </p>
                        <p class="block-value -caution">Verification email wasn't sent you yet</p>
                        <form action="/user/sendToken" method="POST">
                            <small class="block-value">You can send it manually</small>
                            <input type="hidden" name="name" value="<%= user.name %>" readonly>
                            <input type="hidden" name="email" value="<%= user.email %>" readonly>
                            <button class="-btn" type="submit">Send</button>
                        </form>
                    <% } else { %>
                        <% if(user.token === 'verified') { %>
                            <p class="block-item">    <!-- token -->
                                <span class="block-key">Authorized</span>
                                <span class="block-value -trusted">Trusted email</span>
                            </p>  <!-- token -->
                        <% } else { %>
                            <p class="block-item">    <!-- token -->
                                <span class="block-key">Authorized</span>
                                <span class="block-value -warning">Your email is not verified</span>
                            </p>  <!-- token -->
                            <p class="block-value -warning">Verification email was sent to you</p>
                            <form action="/user/sendToken" method="POST">
                                <small class="block-value">Resend verification email</small>
                                <input type="hidden" name="name" value="<%= user.name %>" readonly>
                                <input type="hidden" name="email" value="<%= user.email %>" readonly>
                                <button class="-btn" type="submit">Resend</button>
                            </form>
                        <% } %>
                    <% } %>

                    <details class="change-password-box">
                        <summary class="block-link">Change password</summary>
                        <form class="update-form" action="/user/password" method="POST">
                            <div class="inputs">
                                <input type="password" name='currentPassword' placeholder="Current Password" required />
                                <input type="password" name='newPassword' placeholder="New Password" required />
                            </div>
                            <label class="show-password" for="showPasswords">
                                <input type="checkbox" id='showPasswords'/>
                                show passwords
                            </label>
                            <button class="-btn" type="submit">Submit</button>
                        </form>
                    </details>
                </section>  <!-- profile-info-left -->

                <section class="profile-info-right">
                    <h3 class="block-title -high-red">INFO box</h3>
                    <!-- Bolt Career offer if student -->
                    <% if(user.student) { %>
                        <div class="block-item">
                            <p class="bolt-text">After graduation, you will most likely spend extensive time looking for maximum pay job. Sign in <a href="https://www.boltcdl.com/user/register" target="_blank" class="-info">DRIVER CONNECT</a> with your current email and let employers track your learning progress. Future employers will be able to see your employment preferences and contact you with job offers.</p>
                        </div>
                    <% } %>
                    <br>
                    <div class="block-item">    <!-- INFO -->
                        <span class="block-key -margin-right-big"><%= user.msg.class.toUpperCase() %></span>
                        <span class="block-value -<%= user.msg.class %>"><%= user.msg.txt %></span>
                    </div>  <!-- INFO -->
                </section>

                <section class="profile-info-left -top-border -bottom-box">
                    <% if(user.student) { %>
                        <div class="block-item -learning-center">    <!-- tuition -->
                            <% if(tuition) { %>
                                <% if(tuition.avLessonsRate < 0.25) { %>
                                    <span class="block-key">Learning Center</span>
                                    <a href='/user/tuition' class="block-value -big-data -caution"><%= Math.round(tuition.avLessonsRate*1000) / 10 %>% done</a>
                                <% } else { %>
                                    <% if(tuition.avLessonsRate < 0.85) { %>
                                        <span class="block-key">Learning Center</span>
                                        <a href='/user/tuition' class="block-value -big-data -medium"><%= Math.round(tuition.avLessonsRate*1000) / 10 %>% done</a>
                                    <% } else { %>
                                        <% if(tuition.avLessonsRate > 0.849) { %>
                                            <span class="block-key">Learning Center</span>
                                            <a href='/user/tuition' class="block-value -big-data -trusted">Sufficient level</a>
                                        <% } else { %>
                                            <span class="block-key">Learning Center</span>
                                            <a href='/user/tuition' class="block-value -big-data -warning">Unknown level</a>
                                        <% } %>
                                    <% } %>
                                <% } %>
                            <% } else { %>
                                <span class="block-key">Learning Center</span>
                                <span class="block-value -warning">Lessons aren't scheduled</span>
                            <% } %>
                        </div>  <!-- tuition -->
                    <% } %>
                </section>

                <section class="profile-info-right -top-border -bottom-box -right">
                    <div class="block-item">    <!-- Catalog -->
                        <span class="block-key -margin-right-big">Catalog</span>
                        <a href='../catalog' target="_blank" class="block-value block-link">Download</a>
                    </div>  <!-- Catalog -->
                </section>

            </div>  <!-- profile-info-box -->


            <% if(user.student) { %>
                <div class="attendance-info">
                    <section class="profile-info-left">
                        <h3 class="block-title">Attendance INFO</h3>
                    </section>
                    <section class="profile-info-right -flex-right">
                        <div class="right-position-block">
                            <% if (verTTT) { %>
                                <div class="block-item">    <!-- TTT -->
                                    <span class="block-key">Total Tuition Time</span>
                                    <span class="block-value"><%= strTTT(verTTT) %> | <%= normTTT(verTTT) %></span>
                                </div>  <!-- TTT -->
                            <% } %>
                            <div class="block-item">    <!-- Visiting Type -->
                                <span class="block-key">Visiting Type</span>
                                <span class="block-value"><%= visiting %>*</span>
                            </div>  <!-- Visiting Type -->
                        </div>
                    </section>
                </div>  <!-- attendance-info -->

                <!-- QR Clocks -->
                <% if (verClocks) { %>
                    <div class="clocks-table">
                        <div class="clocks-table-cell -header">DATE</div>
                        <div class="clocks-table-cell -header">IN</div>
                        <div class="clocks-table-cell -header">OUT</div>
                        <div class="clocks-table-cell -header">Duration</div>
                        <% verClocks.forEach(clock => { %>
                            <% let duration = clock.duration / (1000 * 60 *60) %>
                            <div class="clocks-table-cell -first-col"><%= new Date(clock.date).toLocaleDateString('en-CA', { timeZone: 'America/Los_Angeles' }) %></div>
                            <div class="clocks-table-cell"><%= formatTime(clock.in) %></div>
                            <% if( !isNaN(clock.out) ) { %>
                                <div class="clocks-table-cell"><%= formatTime(clock.out) %></div>
                            <% } else { %>
                                <div class="clocks-table-cell -warning">NO</div>
                            <% } %>
                            <% if( !isNaN(clock.out) ) { %>
                                <div class="clocks-table-cell"><%= strTTT(duration) %></div>
                            <% } else { %>
                                <div class="clocks-table-cell -warning"><%= strTTT(duration) %></div>
                            <% } %>
                        <% }) %>
                    </div>  <!-- clocks-table -->
                    <p class="block-value -info1">* The duration of your presence in the CDL School when there is no clock-out is determined on the basis of the minimum required number of hours according to the Agreement signed by you. CDL School reserves the right to review this number depending on the current Attendance Policy. We also inform you that the Student, as a party to the Agreement, is obliged to attend classes in case of abuse by the Student, the absence of clocks-out allows CDL School not to take into account the hours for such a day.</p>
                <% } %>     <!-- if there are any clocks -->


                <!-- SCORINGS -->
                <% if(scorings) { %>
                    <div class="scoring-info">
                        <section class="profile-info-left">
                            <h3 class="block-title">Skill SCORINGS</h3>
                        </section>
                        <section class="profile-info-right -flex-right">
                            <div class="right-position-block">
                                <div class="block-item">
                                    <span class="block-key">Can Visit Teaching</span>
                                    <span class="block-value <%= scorings.isAllowed ? '-trusted' : '-warning' %>" ><%= scorings.isAllowed ? "Yes" : "No" %></span>
                                </div>
                                <% if(scorings.lastDone) { %>
                                    <div class="block-item">
                                        <span class="block-key">Last Scoring Done</span>
                                        <span class="block-value"><%= formatDateTime(scorings.lastDone) %></span>
                                    </div>
                                <% } %>
                            </div>
                        </section>
                    </div>  <!-- attendance-info -->
                    
                    <% if(scorings.lastDone) { %>
                        <div class="scoring-table">
                            <div class="scoring-table-cell -scoring-header">Type</div>
                            <div class="scoring-table-cell -scoring-header">Date</div>
                            <div class="scoring-table-cell -scoring-header -hide-if-700">Instructor</div>
                            <div class="scoring-table-cell -scoring-header">Result</div>
                            <div class="scoring-table-cell -scoring-header -hide-if-450">Certificate</div>

                            <% const scorArrays = [scorings.scoringsInCab, scorings.scoringsOutCab, scorings.scoringsBacking, scorings.scoringsCity] %>
                            <% const scorTitles = ['pretrip In-Cab', 'pretrip Out-Cab', 'Backing Maneuvers', 'City Driving'] %>

                            <% scorArrays.forEach((scorArray, index) => { %>
                                <% scorArray.forEach(scor => { %>
                                    <a class="scoring-table-cell -first-col" href="/user/scoring-print?scoring=<%= scorings._id %>&scoringform=<%= scor._id %>"><%= scorTitles[index] %></a>
                                    <div class="scoring-table-cell -hide-if-450"><%= formatDateTime(scor.created) %></div>
                                    <div class="scoring-table-cell -show-if-450"><%= formatDate(scor.created) %></div>
                                    <div class="scoring-table-cell -hide-if-700"><%= scor.instructor %></div>

                                    <% if (scor.result) { %>
                                        <div class="scoring-table-cell -passed">passed</div>
                                    <% } else { %>
                                        <div class="scoring-table-cell -failed">failed</div>
                                    <% } %>

                                    <% if (scor.certificate) { %>
                                        <div class="scoring-table-cell -passed -hide-if-450">Yes</div>
                                    <% } else { %>
                                        <div class="scoring-table-cell -failed -hide-if-450">No</div>
                                    <% } %>

                                <% }) %>
                            <% }) %>

                        </div>  <!-- scoring-table -->
                    <% } %>
                <% } %>     <!-- if there are any scorings -->


                <!-- Schedule Appointments -->
                <%
                    const calendarTitles = {
                        "city": "CITY DRIVING", 
                        "backing1": "STRAIGHT LINE BACKING",
                        "backing2": "OFFSET BACKING",
                        "backing3": "ALLEY DOCK BACKING"
                    }
                %>
                <% if(user.student.schedule) { %>
                    <div class="appointments-info">
                        <section class="profile-info-left">
                            <h3 class="block-title">Scheduled APPOINTMENTS</h3>
                        </section>
                        <section class="profile-info-right -flex-right">
                            <div class="right-position-block">
                                <div class="block-item">
                                    <span class="block-key -margin-right-big">Found appointments</span>
                                    <span class="block-value -margin-right-big"><%= user.student.schedule.appointments.length %></span>
                                    <a class="block-link" href="/user/schedule">Schedule more</a>
                                </div>
                            </div>
                        </section>
                    </div>  <!-- appointments-info -->
                    <div class="skills-test-table">
                        <div class="skills-test-table-cell -skills-test-header">Type</div>
                        <div class="skills-test-table-cell -skills-test-header">Date Time</div>
                        <div class="skills-test-table-cell -skills-test-header">Location</div>
                        <div class="skills-test-table-cell -skills-test-header -hide-if-450">Transmission</div>

                        <% user.student.schedule.appointments.forEach(appointment => { %>
                            <div class="skills-test-table-cell -first-col"><%= calendarTitles[appointment.appType] %></div>
                            <% 
                                let y = appointment.appDate.getUTCFullYear()
                                let m = leadingZero(appointment.appDate.getUTCMonth())
                                let d = leadingZero(appointment.appDate.getUTCDate())
                                let h = leadingZero(appointment.appDate.getUTCHours())
                                let mins = leadingZero(appointment.appDate.getUTCMinutes())
                                let txtDate = `${d}/${m}/${y} - ${h}:${mins}`
                            %>
                            <div class="skills-test-table-cell"><%= txtDate %></div>
                            <div class="skills-test-table-cell"><%= appointment.appLocation %></div>
                            <div class="skills-test-table-cell -hide-if-450"><%= appointment.appTransmission %></div>
                        <% }) %>
                    </div>      <!-- skills-test table -->
                <% } %>     <!-- if there are any scorings -->


                <!-- Skills Tests History -->
                <% if(user.student.skillsTest) { %>
                    <div class="skills-info">
                        <section class="profile-info-left">
                            <h3 class="block-title">Scheduled SKILLS TEST</h3>
                        </section>
                        <section class="profile-info-right -flex-right">
                            <div class="right-position-block">
                                <div class="block-item">
                                    <span class="block-key -margin-right-big">Found skills test appointments</span>
                                    <span class="block-value"><%= user.student.skillsTest.length %></span>
                                </div>
                            </div>
                        </section>
                    </div>  <!-- skills-info -->
                    <div class="skills-test-table">
                        <div class="skills-test-table-cell -skills-test-header">Type</div>
                        <div class="skills-test-table-cell -skills-test-header">Date Time**</div>
                        <div class="skills-test-table-cell -skills-test-header">Location</div>
                        <div class="skills-test-table-cell -skills-test-header -hide-if-450">Endorsements</div>
                        <% user.student.skillsTest.forEach(test => { %>
                            <div class="skills-test-table-cell -first-col"><%= test.testType %></div>
                            <div class="skills-test-table-cell"><%= formatDateTime(test.scheduledDate) %></div>
                            <div class="skills-test-table-cell"><%= test.testLocation %></div>
                            <div class="skills-test-table-cell -hide-if-450"><%= test.endorsements %></div>
                        <% }) %>
                    </div>      <!-- skills-test table -->
                    <span class="block-value -info1">** Double-check exact time with the school's manager, because some skills test locations do not provide timeframes, and mentioned below is just a preliminary or general.</span>
                <% } %>     <!-- if there are any scorings -->

            <% } %>     <!-- USER is a STUDENT -->
        <% } %>     <!-- USER is OK -->
    </div>  <!--- profile-box -->


    <footer>
        <div class="footer-left">
            <span>© BoltCDL</span>
        </div>
        <div class="footer-center">
            <span class="footer-item">About Us</span>
            <a class="footer-item" href="/cdl-courses">CDL Programs</a>
            <a class="footer-item" href="/faq">FAQs</a>
            <a class="footer-item" href="https://www.nstschool.com/clp" target="_blank">CLP</a>
            <span class="footer-item">Contact Us</span>
        </div>
        <div class="footer-right">
            <span>designed by</span>
            <a href="https://www.boltcdl.com" target="_blank">BOLT</a>
        </div>
    </footer>


  
    <script defer>
        localStorage.setItem('id', '<%- user._id %>')
                
        // 'show password' reaction
        document.querySelector('#showPasswords').addEventListener('change', (e) => {
            document.querySelector('input[name="currentPassword"]').type = e.target.checked ? 'text' : 'password'
            document.querySelector('input[name="newPassword"]').type = e.target.checked ? 'text' : 'password'
        })
    </script>


    <script type="module">
        // @NOTIFICATIONS from db
        import { io } from "https://cdn.socket.io/4.3.2/socket.io.esm.min.js"
        const socket = io("/")
        
        // server emits, so have to check if changes are related to this particular client
        socket.on('users-collection-update', user => {
            if (user) {
                if (user.documentKey._id === localStorage.getItem('id')) {
                    if (user.updateDescription) {
                        if (user.updateDescription.updatedFields) {
                            if (user.updateDescription.updatedFields.token === "verified") {
                                alert("Congratulation! You've just passed email verification process. Now please refresh a page and forms will be available for you.")
                                document.location.reload();
                            }
                        }
                    }
                }
            }
        })
    </script>

</body>
</html>