<!-- PARTIAL view -->
<!-- included into userInfo.ejs -->

<% if (!user.dataCollection || !user.application || !user.agreement) { %>
    <div class="field-info">Student Section is unavailable, because enrollment forms are not completed yet</div>
    <% if(user.dataCollection) { %>
        <div class="field-info1">#1 Data Collection has been completed by User <%= new Date(user.dataCollection.created).toLocaleDateString('en-CA', { timeZone: 'America/Los_Angeles' }) %></div>
    <% } else { %>
        <div class="field-warning">#1 Data Collection hasn't been completed by User.</div>
    <% } %>
    <% if(user.application) { %>
        <div class="field-info1">#2 Application has been completed by User <%= new Date(user.application.created).toLocaleDateString('en-CA', { timeZone: 'America/Los_Angeles' }) %></div>
    <% } else { %>
        <div class="field-warning">#2 Application form is not ready yet.</div>
    <% } %>
    <% if(user.agreement) { %>
        <div class="field-info1">#3 Agreement has been signed by User <%= new Date(user.agreement.created).toLocaleDateString('en-CA', { timeZone: 'America/Los_Angeles' }) %></div>
        <% if(!user.agreement.schoolSignRep) { %>
            <div class="field-warning">Agreement hasn't been signed by School's manager!!!</div>
        <% } else { %>
            <div class="field-info1">Agreement has been signed also from School's behalf.</div>
        <% } %>  
    <% } else { %>
        <div class="field-warning">#3 Agreement has not been signed yet.</div>
    <% } %>
<% } else { %>

    <% if(!user.student) { %>
        <div class="field-info1">#1 Data Collection has been completed by User <%= new Date(user.dataCollection.created).toLocaleDateString('en-CA', { timeZone: 'America/Los_Angeles' }) %></div>
        <div class="field-info1">#2 Application has been completed by User <%= new Date(user.application.created).toLocaleDateString('en-CA', { timeZone: 'America/Los_Angeles' }) %></div>
        <div class="field-info1">#3 Agreement has been signed by User <%= new Date(user.agreement.created).toLocaleDateString('en-CA', { timeZone: 'America/Los_Angeles' }) %></div>

        <% if(!user.agreement.schoolSignRep) { %>
            <div class="field-warning">Agreement hasn't been signed by School's manager!!!</div>
        <% } else { %>
            <div class="field-info2">Agreement has been signed also from School behalf.</div>

            <form action="/admin/student/new/<%= user._id %>" method="post">
                <div class="field-info1">Everything is ready to create a new Student on Applicant Profile basis</div>
                <div class="row-buttons-center">
                    <button class='-btn' type="submit">Make a Student</button>
                </div>
            </form>
        <% } %> 
       
    <% } else { %>

        <!-- TOOL -->
        <% 
            function floatToPercent(d) {
                const D = d*100;
                const R = Math.trunc(D);
                const L = Math.round(10*(D % 1));
                return `${R}.${L}%`
            }
        
            function printDateTime(date) {
                const d = new Date(date).toLocaleDateString('en-CA', { timeZone: 'America/Los_Angeles' });
                const t = new Date(date).toLocaleTimeString('en-US', { timeZone: 'America/Los_Angeles', hour12: false });
                return `${d} (${t})`
            }
        
            function strTTT(TTT) {
                const H = Math.trunc(TTT);
                const M = Math.round(60*(TTT % 1));
                return M > 9 ? `${H}h:${M}m` : `${H}h:0${M}m`
            }

            function normTTT(TTT) {
                return `${ Math.round(TTT * 100) / 100 }h`
            }

            function normCOORD(latlon) {
                return Math.round(latlon * 1000) / 1000
            }
        %>


        <form class="student-info-table" action='/admin/student/update-location' method="POST" id="update-location">
            <!-- table header -->
            <p class="-table-header">Info</p>
            <p class="-table-header">Value</p>
            <p class="-table-header -hide-if-small">Created</p>
            <p class="-table-header -cell-center">More</p>

            <!-- 1st string -->
            <p class="-left-side-header">Student key</p>
            <p><%= user.student.key %></p>
            <p class="-hide-if-small"><%= printDateTime(user.student.created) %></p>
            <p><%= user.student._id %></p>

            <!-- next line Status -->
            <p class="-left-side-header">Status</p>
            <% if(user.student.status === "unblock") { %>
                <p class="field-info1">NORMAL</p>
            <% } %>
            <% if(user.student.status === "block") { %>
                <p class="field-warning">BLOCKED</p>
            <% } %>
            <% if(user.student.status === "archive") { %>
                <p class="field-info">ARCHIVED</p>
            <% } %>
            <p class="-hide-if-small"></p>
            
            <p class="field-link" onclick="highlightToolbar()">*use toolbar to update</p>
            <script>
                function highlightToolbar() {
                    const toolbarButtons = document.querySelectorAll(".toolbar-btn")
                    toolbarButtons.forEach(toolbarButton => {
                        toolbarButton.classList.add("-toolbar-btn-move")
                        setTimeout(() => {
                            toolbarButton.classList.remove("-toolbar-btn-move")
                        }, 350)
                    })
                }
            </script>
            
            <!-- next line Email -->
            <p class="-left-side-header">Email</p>
            <% if(user.student.email === user.email) { %>
                <a class="field-link" href="mailto:<%= user.student.email %>"><%= user.student.email %></a>
                <p class="-hide-if-small"></p>
                <p class="field-info1">equals to user email</p>
            <% } else { %>
                <a class="field-warning" href="mailto:<%= user.student.email %>"><%= user.student.email %></a>
                <p class="-hide-if-small"></p>
                <p class="field-warning">doesn't equal to user email</p>
            <% } %>

            <!-- next line Location -->
            <p class="-left-side-header">Location</p>
            <!-- hidden, for location update -->
            <input type="hidden" name="studentId" value="<%= user.student._id %>" />
            <input type="hidden" name="userId" value="<%= user._id %>" />
            <% 
                const location = user.student.location ? user.student.location : 'UNSET'
                const locs = locals.allLocations || []
            %>
            <div class="location-input-box">
                <select name='location' id='location'>
                    <% if (location === 'UNSET') { %>
                        <option value='UNSET' selected >UNSET</option>
                    <% } %>
                    <% locs.forEach(loc => { %>
                        <% if (location === loc) { %>
                            <option value='<%= loc %>' selected ><%= loc %></option>
                        <% } else { %>
                            <option value='<%= loc %>'><%= loc %></option>
                        <% } %>
                    <%  }) %>
                </select>
            </div>
            <p class="-hide-if-small"></p>
            <button type="submit" class="button-link">Update</button>

            <!-- next line Learning -->
            <p class="-left-side-header">Learning progress</p>
            <% if(user.student.tuition) { %>
                <% if(user.student.tuition.isAllowed) { %>
                    <p><%= floatToPercent(user.student.tuition.avLessonsRate) %></p>
                    <p class="-hide-if-small"><%= printDateTime(user.student.tuition.created) %></p>
                    <a class="button-link" href="/admin/student/change-tuition-access/<%= user.student._id %>?action=disable">Disable access</a>
                <% } else { %>
                    <p class="field-warning">Disabled(<%= floatToPercent(user.student.tuition.avLessonsRate) %>)</p>
                    <p class="field-warning -hide-if-small">Disabled</p>
                    <a class="button-link" href="/admin/student/change-tuition-access/<%= user.student._id %>?action=enable">Enable access</a>
                <% } %>
            <% } else { %>
                <p>0%</p>
                <p class="field-warning -hide-if-small">no access</p>
                <a class="button-link" href="/admin/student/allow-tuition/<%= user.student._id %>">Allow</a>
            <% } %>
        </form>     <!-- student-info-table -->

        <!-- next line Clocks -->
        <% if (user.student.TTT) { %>
            <form class="student-info-table" action="/admin/clocks" method="POST">
                <input type="hidden" name="studentId" value="<%= user.student._id %>" />
                <input type="hidden" name="userId" value="<%= user._id %>" />
                <input type="hidden" name="studentKey" value="<%= user.student.key %>" />
                <input type="hidden" name="studentName" value="<%= user.dataCollection.firstName %> <%= user.dataCollection.middleName %> <%= user.dataCollection.lastName %>" />
                <input type="hidden" name="visiting" value="<%= user.agreement.visiting %>" />

                <p class="-left-side-header">Total Tuition Time</p>
                <% if(user.student.TTT === verTTT) { %>
                    <p class="field-info1"><%= strTTT(user.student.TTT) %></p>
                <% } else { %>
                    <p class="field-warning"><%= strTTT(user.student.TTT) %></p>
                <% } %>
                <p class="field-info1 -hide-if-small"><%= strTTT(verTTT) %> recalculated</p>
                <button class="button-link" type="submit">Edit Clocks</button>
            </form>
        <% } %>

        <!-- next line Scorings -->
        <% if (user.student.scoring) { %>
            <form class="student-info-table" action="/admin/inst/toggle-isallow" method="POST">
                <input type="hidden" name="scoringId" value="<%= user.student.scoring._id %>" />
                <input type="hidden" name="userId" value="<%= user._id %>" />

                <p class="-left-side-header">Scorings</p>
                <% if(user.student.scoring.isAllowed) { %>
                    <p class="field-info1">Allowed</p>
                    <p class="-hide-if-small"><%= printDateTime(user.student.scoring.created) %></p>
                    <input type="hidden" name="newIsAllowed" value="disable" />
                    <button class="button-link" type="submit">Disable</button>
                <% } else { %>
                    <p class="field-warning">Disabled</p>
                    <p class="-hide-if-small"><%= printDateTime(user.student.scoring.created) %></p>
                    <input type="hidden" name="newIsAllowed" value="enable" />
                    <button class="button-link" type="submit">Enable</button>
                <% } %>

                <% if(user.student.scoring.lastDone) { %>
                    <p class="-left-side-header">Last scoring</p>
                    <p>done by <%= user.student.scoring.lastDoneBy %></p>
                    <p class="-hide-if-small"><%= printDateTime(user.student.scoring.lastDone) %></p>
                    <p class="field-link" onclick="scrollToScorings()">*refer to details</p>

                    <script>
                        function scrollToScorings() {
                            const scoringsSection = document.querySelector("#scoring-details")
                            if (scoringsSection) {
                                scoringsSection.open = !scoringsSection.open
                                scoringsSection.scrollIntoView({
                                    block: "end",
                                    inline: "nearest",
                                    behavior: "smooth"
                                })
                            }
                        }
                    </script>
                <% } %>
            </form>
        <% } %>


        <!-- LEARNING Center Details -->
        <% if(user.student.tuition) { %>
            <% if(user.student.tuition.lessons.length) { %>     <!-- begun tuition -->
                <details class="row-item" id="tuition-details">  <!-- id is used for open details after backlink -->
                    <summary>Learning</summary>
                    <div class="learning-table">
                        <p class="-table-header -hide-if-small">Training Module</p>
                        <p class="-table-header">TITLE</p>
                        <p class="-table-header -to-hide-500">LAST TAKE</p>
                        <p class="-table-header -time-to-hide">TIME</p>
                        <p class="-table-header">PROGRESS</p>
                        <p class="-table-header -cell-center">TEST</p>
                        <% user.student.tuition.lessons.forEach((lesson, index) => { %>
                            <p class="-hide-if-small"><%= `Module ${ index < 9 ? '0' + (index + 1) : (index + 1) }` %></p>
                            <p><%= lesson.lessonTitle %></p>
                            <p class="-to-hide-500"><%= new Date(lesson.watchDate).toLocaleDateString("en-CA", { timeZone: "America/Los_Angeles" }) %></p>
                            <p class="-time-to-hide"><%= new Date(lesson.watchDate).toLocaleTimeString("en-CA", { timeZone: "America/Los_Angeles",  hour12: false }) %></p>
                            <!-- PROGRESS -->
                            <% if(lesson.videoProgress > 0.05) { %>
                                <p><%= floatToPercent(lesson.videoProgress) %></p>
                            <% } else { %>
                                <p class="-cell-not-done"><%= floatToPercent(lesson.videoProgress) %></p>
                            <% } %>
                            <!-- TEST -->
                            <% if(lesson.testProgress > 0) { %>
                                <p class="-cell-center -cell-done" title="Accomplished at <%= floatToPercent(lesson.testProgress) %>">Yes</p>
                            <% } else { %>
                                <p class="-cell-center -cell-not-done">No</p>
                            <% } %>
                        <% }) %>
                    </div>
                </details>
            <% } else { %>
                <div class="field-warning">The course is scheduled but Student has not begun a tuition yet</div>
            <% } %>
        <% } %>
        

        <!-- QR Clocks Details -->
        <% if (verClocks) { %>
            <details class="row-item" id="clocks-details">   <!-- id is used for open details after backlink -->
                <summary>Clocks</summary>
                <div class="clock-table">
                    <p class="-table-header">DATE</p>
                    <p class="-table-header -hide-if-small">KEY</p>
                    <p class="-table-header">IN</p>
                    <p class="-table-header -hide-if-small">IN GEO</p>
                    <p class="-table-header">OUT</p>
                    <p class="-table-header -hide-if-small">OUT GEO</p>
                    <p class="-table-header -cell-center">DURATION</p>
                    <% verClocks.forEach(clock => { %>
                        <% let duration = clock.duration / (1000 * 60 *60) %>
                        <!-- Date, key -->
                        <div><%= new Date(clock.date).toLocaleDateString('en-CA', { timeZone: 'America/Los_Angeles' }) %></div>
                        <div class="-cell-not-done -hide-if-small"><%= clock.dateKey %></div>
                        <!-- IN & coord -->
                        <div><%= new Date(clock.in).toLocaleTimeString('en-US', { timeZone: 'America/Los_Angeles', hour12: false }) %></div>
                        <% if (!isNaN(clock.inlat) && !isNaN(clock.inlon)) { %>
                            <a class="-coord -hide-if-small" href="http://www.google.com/maps/place/<%= clock.inlat %>,<%= clock.inlon %>" target="_blank"><%= normCOORD(clock.inlat) %>,<%= normCOORD(clock.inlon) %></a>
                        <% } else { %>
                            <div class="<%= (clock.inlat.length < 3 && clock.inlon.length < 3) ? '-no-coord' : '-updated-coord' %> -hide-if-small"><%= clock.inlat %>,<%= clock.inlon %></div>
                        <% } %>
                        <!-- OUT & coord -->
                        <% if( !isNaN(clock.out) ) { %>
                            <div><%= new Date(clock.out).toLocaleTimeString('en-US', { timeZone: 'America/Los_Angeles', hour12: false }) %></div>
                        <% } else { %>
                            <div class="-no-clockout">NO</div>
                        <% } %>
                        <% if (!isNaN(clock.outlat) && !isNaN(clock.outlon)) { %>
                            <a class="-coord -hide-if-small" href="http://www.google.com/maps/place/<%= clock.outlat %>,<%= clock.outlon %>" target="_blank"><%= normCOORD(clock.outlat) %>,<%= normCOORD(clock.outlon) %></a>
                        <% } else { %>
                            <div class="<%= (clock.outlat.length < 3 && clock.outlon.length < 3) ? '-no-coord' : '-updated-coord' %> -hide-if-small"><%= clock.outlat %>,<%= clock.outlon %></div>
                        <% } %>
                        <!-- duration -->
                        <% if( !isNaN(clock.out) ) { %>
                            <div class="-cell-center"><%= strTTT(duration) %></div>
                        <% } else { %>
                            <div class="-no-clockout -cell-center"><%= strTTT(duration) %></div>
                        <% } %>
                    <% }) %>
                </div>  <!-- clock-table -->
            </details>
        <% } %>   <!-- if (verClocks) -->


        <!-- SCORING Details -->
        <% if (user.student.scoring) { %>
            <details class="row-item" id="scoring-details">  <!-- id is used for open details after backlink -->
                <summary>Scorings</summary>
                <div class="scoring-table">
                    <div class="-table-header">Type</div>
                    <div class="-table-header">Date</div>
                    <div class="-table-header -to-hide-500">Instructor</div>
                    <div class="-table-header">Result</div>
                    <div class="-table-header -cell-center -hide-if-small">Certificate</div>
                    <!-- constants -->
                    <% 
                        const scorings = user.student.scoring
                        const scorArrays = [scorings.scoringsInCab, scorings.scoringsOutCab, scorings.scoringsBacking, scorings.scoringsCity]
                        const scorTitles = ['pretrip In-Cab', 'pretrip Out-Cab', 'Backing Maneuvers', 'City Driving']
                    %>
                    <!-- 2D scorings array -->
                    <% scorArrays.forEach((scorArray, index) => { %>
                        <% scorArray.forEach(scor => { %>

                            <form action="/admin/inst/scoring-print" method="POST">
                                <textarea class='-hidden' name="scoringDetails"><%= scor.details %></textarea>
                                <textarea class='-hidden' name="scoringComment"><%= scor.comment %></textarea>
                                <input type="hidden" name="scoringCertificate" value="<%= scor.certificate %>" />
                                <input type="hidden" name="userId" value="<%= user._id %>" />
                                <button class="button-link -no-borders" type="submit"><%= scorTitles[index] %></button>
                            </form>

                            <div><%= printDateTime(scor.created) %></div>
                            <div class="-to-hide-500"><%= scor.instructor %></div>
                            <!-- Result -->
                            <% if (scor.result) { %>
                                <div class="-cell-done">passed</div>
                            <% } else { %>
                                <div class="field-warning">failed</div>
                            <% } %>
                            <!-- Certificate -->
                            <% if (scor.certificate) { %>
                                <div class="-cell-done -cell-center -hide-if-small">Yes</div>
                            <% } else { %>
                                <div class="-cell-not-done -cell-center -hide-if-small">No</div>
                            <% } %>
                        <% }) %>
                    <% }) %>
                </div>  <!-- scoring-table -->
            </details>
        <% } %>   <!-- SCORING Details -->


        <!-- schedule Details -->
        <% if (user.student.schedule) { %>
            <%
                function leadingZero(n) { return n < 10 ? `0${n}` : `${n}` }
                const calendarTitles = {
                    "backing1": "STRAIGHT LINE BACKING",
                    "backing2": "OFFSET BACKING",
                    "backing3": "ALLEY DOCK BACKING",
                    "city": "CITY DRIVING", 
                }
            %>
            <details class="row-item" id="schedule-details">  <!-- id is used for open details after backlink -->
                <summary>Schedule</summary>
                <div class="schedule-table">
                    <div class="-table-header">Type</div>
                    <div class="-table-header">Date</div>
                    <div class="-table-header -cell-center">Transmission</div>
                    <div class="-table-header -cell-center">Location</div>

                    <% user.student.schedule.appointments.forEach(appointment => { %>
                        <%
                            let y = appointment.appDate.getUTCFullYear()
                            let m = leadingZero(appointment.appDate.getUTCMonth() + 1)
                            let d = leadingZero(appointment.appDate.getUTCDate())
                            let h = leadingZero(appointment.appDate.getUTCHours())
                            let min = leadingZero(appointment.appDate.getUTCMinutes())
                            let dateStr = `${m}/${d}/${y} - ${h}:${min}`
                            let link = `/admin/schedule/city?date=${y}-${m}-${d}`
                            link += `&calendarTransmission=${appointment.appTransmission}`
                            link += `&calendarLocation=${appointment.appLocation}`
                        %>
                        <a class="field-info2" href="<%= link %>"><%= calendarTitles[appointment.appType] %></a>
                        <div><%= dateStr %></div>
                        <div class="-cell-center"><%= appointment.appTransmission %></div>
                        <div class="-cell-center"><%= appointment.appLocation %></div>
                    <% }) %>

                </div>  <!-- schedule-table -->
            </details>
        <% } %>   <!-- schedule Details -->

        
        <script>
            const loc_form = document.querySelector('#update-location')
            if (loc_form) {
                loc_form.addEventListener('submit', (e) => {
                    const new_loc = document.querySelector('#location').value
            
                    if (new_loc === 'UNSET') {
                        alert("Location cannot be changed to 'UNSET'")
                        e.preventDefault()
                        return
                    }
                    
                    const current_loc = '<%= user.student.location %>'
                    if (new_loc === current_loc) {
                        e.preventDefault()
                        return
                    }
                })
            }
        </script>

    <% } %>     <!-- already a Student -->
    
<% } %>     <!-- if all forms are ready -->

