<!-- PARTIAL view -->
<!-- included into userInfo.ejs -->

<!-- TOOL: function printDateTime() -->
<% function getDateTime(date) { const d = new Date(date).toLocaleDateString('en-CA', { timeZone: 'America/Los_Angeles' }); const t = new Date(date).toLocaleTimeString('en-US', { timeZone: 'America/Los_Angeles', hour12: false }); return `${d} (${t})` } %>


<% if(locals.user.student) { %>

    <div class="graduate-info-table">
        <!-- 1st row -->
        <div class="-left-side-header">Whether student graduate the programm (<%= user.agreement ? user.agreement.class || "please check student's class" : "no agreement found" %>)</div>
        <%
            const gradClass = user.student.graduate === "passed" ? "field-accomplished"
            : user.student.graduate === "failed" ? "field-warning"
            : user.student.graduate === "declined" ? "field-warning"
            : user.student.graduate === "military" ? "field-info" : ""
        %>
        <div class="field-value <%= gradClass %>"><%= user.student.graduate === 'no' ? user.student.graduate : `Yes(${user.student.graduate})` %></div>
        <div></div>
        
        <!-- 2nd row -->
        <div class="-left-side-header">Enrollment status</div>
        <div>
            <select id="enrollmentStatus" >
                <option value="No info">No info</option>
                <% enrollmentStatuses.forEach(enrollmentStatus => { %>
                    <% let ifSelected = enrollmentStatus.value === user.student.enrollmentStatus ? 'selected' : '' %>
                    <option value="<%= enrollmentStatus.value %>" <%= ifSelected %> ><%= enrollmentStatus.value %></option>
                <% }) %>
            </select>
        </div>
        <div class="button-link" onclick="updateEnrollmentStatus()">Update Status</div>

        <!-- 3rd row -->
        <div class="-left-side-header">Last update date</div>
        <div class="field-value"><%= user.student.enrollmentStatusUpdate ? getDateTime(user.student.enrollmentStatusUpdate) : 'no info' %></div>
        <div></div>
    </div>      <!-- graduate-info-table -->


    <% if(user.student.skillsTest) { %>
        <% if(user.student.skillsTest.length) { %>
            <div class="field-subheader-black">Skills Test Schedule</div>
            
            <div class="skills-test-table">
                <p class="-table-header">#</p>
                <p class="-table-header">Date</p>
                <p class="-table-header">Test Location</p>
                <p class="-table-header">Test Type</p>
                <p class="-table-header -time-to-hide">Endorsements</p>
                <p class="-table-header -cell-center -time-to-hide">STRF</p>
                <% user.student.skillsTest.forEach((test, index) => { %>
                    <p><%= index + 1 %></p>
                    <p><%= getDateTime(test.scheduledDate) %></p>
                    <p><%= test.testLocation %></p>
                    <!-- Test Type -->
                    <% if(test.testType.toLowerCase() === "initial") { %>
                        <p><%= test.testType %></p>
                    <% } else { %>
                        <p class="field-warning"><%= test.testType %></p>
                    <% } %>
                    <!-- Endorsements -->
                    <% if(test.endorsements.toLowerCase() === "none") { %>
                        <p class="-cell-not-done -time-to-hide"><%= test.endorsements %></p>
                    <% } else { %>
                        <p class="-time-to-hide"><%= test.endorsements %></p>
                    <% } %>
                    <!-- STRF -->
                    <p class="-cell-center -time-to-hide"><%= test.strf %></p>
                <% }) %>
            </div>
        <% } %>
    <% } %>


    <!-- scripts, avail. if Student -->
    <script defer>
        function updateEnrollmentStatus() {
            const enrollmentStatusSelect = document.querySelector("#enrollmentStatus")
            if (enrollmentStatusSelect) {
                if (enrollmentStatusSelect.value.toUpperCase() === "NO INFO") { return alert("Choose enrollment status, please") }
                if (enrollmentStatusSelect.value === "<%= user.student.enrollmentStatus %>") { return alert('Choose another enrollment status, please. Student is already has status "<%= user.student.enrollmentStatus %>"') }

                menuAction(enrollmentStatusSelect.value)
            }
        }
    </script>


<% } else { %>
    <div class="field-warning">This user is not a student</div>
    <div class="field-info1">The User must first go through the stages from Applicant to Student and only then will this piece of information be available</div>
<% } %>